In [1]:
import pandas as pd
import numpy as np

## cross-tab

In [2]:
data = pd.read_csv('endangeredLang2.csv')
 
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [3]:
x=pd.crosstab(data["CountryCode"],data["Endangerment"],margins=True) #tabulate our data on basis of two coulmns

In [4]:
x.head(4)

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,2,5,0,4,1,12
"ALB, BGR, GRC, MKD, SRB",0,1,0,0,0,1
"ALB, BGR, MKD, ROU, SRB",0,0,0,0,1,1
"ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FRA, GRC, HUN, ITA, LVA, LTU, MKD, NLD, POL, ROU, GBR, RUS, SVK, SVN, CHE, CZE, TUR, UKR, SRB, MNE",0,1,0,0,0,1

In [5]:
def perConvert(var):
    return var/float(var[-1])

In [6]:
x=pd.crosstab(data["CountryCode"],data["Endangerment"],margins=True).apply(perConvert, axis=1)

In [7]:
x.head(3)

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,0.166667,0.416667,0.0,0.333333,0.083333,1.0
"ALB, BGR, GRC, MKD, SRB",0.000000,1.000000,0.0,0.000000,0.000000,1.0
"ALB, BGR, MKD, ROU, SRB",0.000000,0.000000,0.0,0.000000,1.000000,1.0