In [1]:
import numpy as np
import pandas as pd

# Dealing with Missing Values (NAs)

In [4]:
#create sample data
df = pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]]) #data has no values (NAs) in some cells
#we need to remove NA or NaN from the data frame

In [5]:
print(df)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [7]:
## check if the data frames contains NA
print(df.isnull())

       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

In [8]:
## Drop NA values
## all rows with cells containing NA will be dropped
print(df.dropna())

     0    1  2
1  2.0  3.0  5

In [9]:
## Drop columns where cells have NAs
print(df.dropna(axis=1))

   2
0  2
1  5
2  6

In [10]:
print(df.dropna(axis=1,how="all"))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [11]:
## thresh parameter lets you specify a minimum number of non-null values for the row/column to be kept
print(df.dropna(thresh=2))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

## Filling no values (NA) cells

In [12]:
#fill NA entries with zero
print(df.fillna(0))

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [13]:
#specify a forward-fill to propagate the previous value forward
print(df.fillna(method="ffill"))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  2.0  4.0  6

In [14]:
#fill forward column wise
print(df.fillna(method="ffill",axis=1))

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

In [15]:
#back-fill to propagate the next values backward
print(df.fillna(method="bfill"))

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6

# Data Handling: Basics of Conditional Data Selection

In [1]:
import numpy as np
import pandas as pd

In [68]:
# Load the data into a DataFrame
# data of endangered languages
data = pd.read_csv('endangeredLang.csv')
 
data.head(n=6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."

In [69]:
#isolate a column
data['Countries']

0                                                   Italy
1                                                   Italy
2       Germany, Denmark, Netherlands, Poland, Russian...
3       Belarus, Latvia, Lithuania, Poland, Russian Fe...
4                                      Italy, Switzerland
5       Albania, Germany, Austria, Belarus, Bosnia and...
6                                                  Israel
7                                                   India
8                           Germany, Belgium, Netherlands
9                        Bolivia (Plurinational State of)
10                                           India, Nepal
11          Bolivia (Plurinational State of), Chile, Peru
12                                      Italy, San Marino
13                                                  Italy
14                               Croatia, Italy, Slovenia
15                                                 Turkey
16                                                  India
17                                                  Niger
18                                                  India
19                                                  India
20      United Kingdom of Great Britain and Northern I...
21      Albania, Bulgaria, The former Yugoslav Republi...
22                           Belgium, France, Netherlands
23                                     Russian Federation
24                                     Russian Federation
25                                     Russian Federation
26                                                  India
27                                           India, Nepal
28                                                   Peru
29                                      Slovakia, Ukraine
                              ...
2692                                              Algeria
2693                                           Azerbaijan
2694                           Iran (Islamic Republic of)
2695                                             Colombia
2696                                   Russian Federation
2697                                             Cambodia
2698                                             Paraguay
2699                                                India
2700                                              Algeria
2701                                             Colombia
2702                                               Israel
2703                                               Canada
2704                                             Colombia
2705                                              Georgia
2706                             United States of America
2707                                               Canada
2708                 Georgia, Russian Federation, Ukraine
2709                                              Myanmar
2710                                             Colombia
2711                                               Canada
2712                             United States of America
2713          Argentina, Bolivia (Plurinational State of)
2714                                                Japan
2715                                   Russian Federation
2716    Germany, Austria, Belarus, Belgium, Denmark, E...
2717                                                Japan
2718                                             Colombia
2719                                             Colombia
2720                                      India, Pakistan
2721                                                 Oman
Name: Countries, Length: 2722, dtype: object

In [70]:
#isolate 2 columns
df=data[['Countries','Name in English']]

In [71]:
df.head(6)

                                           Countries Name in English
0                                              Italy   South Italian
1                                              Italy        Sicilian
2  Germany, Denmark, Netherlands, Poland, Russian...       Low Saxon
3  Belarus, Latvia, Lithuania, Poland, Russian Fe...      Belarusian
4                                 Italy, Switzerland         Lombard
5  Albania, Germany, Austria, Belarus, Bosnia and...          Romani

In [72]:
#isolate rows
data[3:10]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."

In [ ]:
# conditional selection

In [73]:
data[data['Number of speakers']<5000] #isolate the portion of

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
740,1125,Jirel,Nepal,NPL,Definitely endangered,4919.0,27.6419,86.2123,Dolakha district
741,468,Dolgan,Russian Federation,RUS,Definitely endangered,4865.0,71.3851,97.3388,Dudinka and Khatanga counties in former Taymyr...
742,2057,Romani (Colombia),Colombia,COL,Vulnerable,4858.0,NaN,NaN,Se ubican en los departamentos de Atlántico y ...
743,1160,Tsum,Nepal,NPL,Definitely endangered,4786.0,28.4723,85.0080,banks of Shar river
744,993,Northern Tlapanec,Mexico,MEX,Vulnerable,4771.0,17.4203,-98.7814,"Municipality of Zapotitlán Tablas, state of Gu..."
745,2028,Taroko,China,CHN,Vulnerable,4750.0,24.0916,121.5218,Taiwan Province
746,151,Kivallirmiutut,Canada,CAN,Vulnerable,4675.0,61.0982,-94.1201,Spread over 5 communities in Canada
747,1283,Puebla Mazatec,Mexico,MEX,Vulnerable,4660.0,18.4760,-96.8351,"Municipalities of San Sebastián Tlacotepec, Co..."
748,954,Zapotec of Petapa,Mexico,MEX,Definitely endangered,4613.0,16.8333,-95.1166,"Locality of Santa María Petapa, state of Oaxaca"
749,1086,Dungmali,Nepal,NPL,Definitely endangered,4609.0,27.1874,87.1902,northeastern Bhojpur district
750,1427,Saryg Yugur,China,CHN,Severely endangered,4600.0,39.2747,98.8439,the western parts of Sunan Yughur Autonomous C...
751,2373,Qikiqtaaluk uannangani,Canada,CAN,Vulnerable,4550.0,69.3878,-81.6150,Spread over 8 communities in Canada
752,1689,Afitti,Sudan,SDN,Severely endangered,4512.0,12.4419,30.7534,NaN
753,748,Nomatsiguenga,Peru,PER,Severely endangered,4500.0,-11.3292,-74.3664,"Departamento de Junín, prov. de Satipo, dist..."
754,308,Piapoko,"Colombia, Venezuela (Bolivarian Republic of)","COL, VEN",Definitely endangered,4500.0,4.0396,-68.0712,NaN
755,713,Tokelauan,Tokelau,TKL,Severely endangered,4500.0,-9.1699,-171.8206,Tokelau and New Zealand
756,2326,Wotu,Indonesia,IDN,Vulnerable,4500.0,-2.6303,120.8880,Sulawesi
757,1111,Wambule,Nepal,NPL,Vulnerable,4471.0,27.1746,86.4363,"Okhalḍhuṅgā, Khoṭāṅ and Udaypur districts, aro..."
758,688,Southern East Cree,Canada,CAN,Vulnerable,4455.0,50.5870,-73.6365,Spread over 4 communities in Canada
759,1673,Arbore,Ethiopia,ETH,Definitely endangered,4441.0,5.0690,36.8920,NaN
760,58,Ebang,Sudan,SDN,Severely endangered,4412.0,11.3130,30.5886,NaN
761,1327,Tafi,Ghana,GHA,Vulnerable,4400.0,6.7300,0.4421,NaN
762,1101,Puma,Nepal,NPL,Severely endangered,4310.0,26.9692,86.9004,Khoṭāṅ district
763,1742,Gyele,"Cameroon, Equatorial Guinea","CMR, GNQ",Definitely endangered,4280.0,2.2241,9.8986,NaN
764,1744,Bwisi,"Congo, Gabon","COG, GAB",Definitely endangered,4248.0,-3.5572,11.4477,NaN
765,267,Eastern Montagnais,Canada,CAN,Vulnerable,4180.0,50.2136,-66.1930,Spread over 6 communities in Canada
766,1545,Atikamekw,Canada,CAN,Vulnerable,4155.0,47.2104,-74.3827,Spread over 3 communities in Canada
767,906,Western Zoque,Mexico,MEX,Vulnerable,4100.0,16.9063,-91.7333,"Municipalities of San Miguel Chimalapas, Santa..."
768,878,Acoma-Laguna,United States of America,USA,Definitely endangered,4000.0,34.8964,-107.5816,Spoken in Acoma and Laguna pueblos in northwes...
769,1097,Aka,"India, Sudan","IND, SDN",Definitely endangered,4000.0,27.1666,92.6312,Bichom valley in West Kameng Dt
...,...,...,...,...,...,...,...,...,...
2509,644,Ubykh (Caucasus),Russian Federation,RUS,Extinct,0.0,43.5585,39.8597,originally the Black Sea coast north from Khos...
2510,1062,Ubykh (Turkey),Turkey,TUR,Extinct,0.0,40.0402,28.0096,émigré communities since 1864; the last speake...
2511,1811,Umutina,Brazil,BRA,Extinct,0.0,-15.0425,-57.1026,"Brazil, western Mato Grosso State, on the Bugr..."
2512,797,Upper Chehalis,United States of America,USA,Extinct,0.0,46.4111,-122.9949,NaN
2513,777,Upper Umpqua,United States of America,USA,Extinct,0.0,43.4476,-123.7700,NaN
2514,2709,Uruava,Papua New Guinea,PNG,Extinct,0.0,-5.9821,155.3137,"Northeastern coast of Bongainville Island, Bou..."
2515,1624,Urupá,Brazil,BRA,Extinct,0.0,-10.8980,-61.8090,NaN
2516,856,Ventureño,United States of America,USA,Extinct,0.0,34.2809,-119.2979,NaN
2517,662,Vilela,Argentina,ARG,Extinct,0.0,-26.9808,-59.6777,East central Chaco Province near Paraguay bord...
2518,319,Wanai,Venezuela (Bolivarian Republic of),VEN,Critically endangered,0.0,7.1117,-66.7199,Municipality of La Urbana (in the western part...
2519,2086,Wangkumara,Australia,AUS,Critically endangered,0.0,-27.2064,142.4597,NaN
2520,850,Wappo,United States of America,USA,Extinct,0.0,38.8701,-122.5154,NaN
2521,722,Western Mansi,Russian Federation,RUS,Extinct,0.0,61.1432,62.4023,"the region of the source rivers of the Tavda, ..."
2522,774,Wiyot,United States of America,USA,Extinct,0.0,40.5984,-124.2519,NaN
2523,1881,Xakriabá,Brazil,BRA,Extinct,0.0,-14.5306,-44.0438,NaN
2524,94,Yaaku,Kenya,KEN,Extinct,0.0,0.4394,37.1777,NaN
2525,754,Yameo,Peru,PER,Extinct,0.0,-4.4449,-73.5644,"Departamento de Loreto, alrededores de Nauta"
2526,252,Yir Yoront,Australia,AUS,Extinct,0.0,-16.3095,141.4489,NaN
2527,2713,Yoba,Papua New Guinea,PNG,Extinct,0.0,-10.0337,149.2272,"Southeastern hinterland, Central Province"
2528,1601,Yola,Ireland,IRL,Extinct,0.0,52.2266,-6.4846,the baronies of Forth and Bargy in County Wexf...
2529,509,Yug,Russian Federation,RUS,Extinct,0.0,61.0901,88.1982,"originally the basins of the rivers Sym, Kas, ..."
2530,849,Yuki,United States of America,USA,Extinct,0.0,37.4336,-118.5908,Formerly spoken in several dialects along the ...
2531,510,Yurats,Russian Federation,RUS,Extinct,0.0,69.2872,81.9140,the tundra zone to the west of the lower Yenis...
2532,610,Yurutí (Brazil),Brazil,BRA,Extinct,0.0,-0.1318,-69.1699,NaN
2533,21,Zeem,Nigeria,NGA,Extinct,0.0,9.8389,9.0911,NaN
2534,131,|'Auni,South Africa,ZAF,Extinct,0.0,-26.0105,20.3630,NaN
2535,136,|Xam,South Africa,ZAF,Extinct,0.0,-32.2853,20.7590,NaN
2536,1443,ǁKu ǁ'e,South Africa,ZAF,Extinct,0.0,-29.9739,27.0812,Border area of Lesotho and South Africa
2537,1445,ǁKx'au,South Africa,ZAF,Extinct,0.0,-32.2896,21.7968,NaN
2538,130,ǁXegwi,South Africa,ZAF,Extinct,0.0,-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal."

# Drop Column/Row

In [24]:
# Load the data into a DataFrame
# data of endangered languages
data = pd.read_csv('endangeredLang.csv')
 
data.head(n=5)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [25]:
type(data)

pandas.core.frame.DataFrame

In [26]:
df=pd.DataFrame(data)

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.drop(df.index[0], inplace=True) #remove the first row, row at index 0
df

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,40.4846,"Tunceli, Erzincan, Elazığ and Bingöl provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,8.0859,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,22.1374,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,55.9863,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,47.2412,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,85.6858,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,21.7968,"Spiš, Šariš, Zemplín and Abov regions in easte..."
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,44.5748,8.7011,"Liguria and adjacent areas of Piedmont, Emilia..."
...,...,...,...,...,...,...,...,...,...
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,-1.5614,The Beni Snous region in the Wilaya (privince ...
2693,1059,Tat,Azerbaijan,AZE,Severely endangered,NaN,41.3438,48.6254,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2694,1495,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,38.2036,48.2519,Iranian Azerbaijan
2695,2012,Tatuyo,Colombia,COL,Definitely endangered,NaN,0.4174,-70.4882,NaN
2696,457,Tazy,Russian Federation,RUS,Severely endangered,NaN,43.9236,134.7967,the village of Mikhaylovka [Михайловка] in Ol’...
2697,2458,Tempuan,Cambodia,KHM,Severely endangered,NaN,13.7238,107.2038,NaN
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,-58.0064,NaN
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,6.0671,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,2009,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,0.6921,-69.8291,NaN
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,34.8019,NaN
2703,2391,Tuscarora (Canada),Canada,CAN,Critically endangered,NaN,43.0720,-80.0150,Spread over 2 communities in Canada
2704,2013,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,0.3515,-70.2026,NaN
2705,2192,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,41.8905,45.9130,since the 1920s the village of Okt’omber (form...
2706,280,Unami,United States of America,USA,Extinct,NaN,39.1300,-76.0253,NaN
2707,2392,Upper Tanana (Canada),Canada,CAN,Critically endangered,NaN,62.3824,-140.8984,Spread over 1 communities in Canada
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,36.7822,"originally the south of the Crimea, now a few ..."
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,99.6519,NaN
2710,2014,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,1.0106,-69.6423,NaN
2711,2393,Western Abenaki (Canada),Canada,CAN,Critically endangered,NaN,46.0785,-72.8141,Spread over 2 communities in Canada
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,-72.2460,NaN
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,-63.4130,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,124.1537,islands of the Yaeyama region
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,57.5360,the Yaz’va Valley in Krasnovishera County in n...
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,25.2465,earlier spoken in large areas mainly in Easter...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [34]:
df.drop(df.index[:2], inplace=True) #remove the first 2 rows, 
df #drop first 2 rows

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Description of the location
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,"Tunceli, Erzincan, Elazığ and Bingöl provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,"Spiš, Šariš, Zemplín and Abov regions in easte..."
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,44.5748,"Liguria and adjacent areas of Piedmont, Emilia..."
31,407,Rusyn,"Hungary, Poland, Romania, Slovakia, Ukraine","HUN, POL, ROU, SVK, UKR",Vulnerable,1000000.0,48.4437,Trans-Carpathian region of Ukraine
32,1515,Talysh,"Azerbaijan, Iran (Islamic Republic of)","AZE, IRN",Vulnerable,1000000.0,38.8140,the northern regions of Gilan and Ardabil prov...
...,...,...,...,...,...,...,...,...
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,The Beni Snous region in the Wilaya (privince ...
2693,1059,Tat,Azerbaijan,AZE,Severely endangered,NaN,41.3438,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2694,1495,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,38.2036,Iranian Azerbaijan
2695,2012,Tatuyo,Colombia,COL,Definitely endangered,NaN,0.4174,NaN
2696,457,Tazy,Russian Federation,RUS,Severely endangered,NaN,43.9236,the village of Mikhaylovka [Михайловка] in Ol’...
2697,2458,Tempuan,Cambodia,KHM,Severely endangered,NaN,13.7238,NaN
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,NaN
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,2009,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,0.6921,NaN
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,NaN
2703,2391,Tuscarora (Canada),Canada,CAN,Critically endangered,NaN,43.0720,Spread over 2 communities in Canada
2704,2013,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,0.3515,NaN
2705,2192,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,41.8905,since the 1920s the village of Okt’omber (form...
2706,280,Unami,United States of America,USA,Extinct,NaN,39.1300,NaN
2707,2392,Upper Tanana (Canada),Canada,CAN,Critically endangered,NaN,62.3824,Spread over 1 communities in Canada
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,"originally the south of the Crimea, now a few ..."
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,NaN
2710,2014,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,1.0106,NaN
2711,2393,Western Abenaki (Canada),Canada,CAN,Critically endangered,NaN,46.0785,Spread over 2 communities in Canada
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,NaN
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,islands of the Yaeyama region
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,the Yaz’va Valley in Krasnovishera County in n...
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,earlier spoken in large areas mainly in Easter...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,Capital area of Muscat

In [ ]:
df.drop(['Latitude'], axis = 1, inplace = True) #drop column called latitude

In [37]:
df

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Description of the location
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,"Tunceli, Erzincan, Elazığ and Bingöl provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,"Spiš, Šariš, Zemplín and Abov regions in easte..."
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,"Liguria and adjacent areas of Piedmont, Emilia..."
31,407,Rusyn,"Hungary, Poland, Romania, Slovakia, Ukraine","HUN, POL, ROU, SVK, UKR",Vulnerable,1000000.0,Trans-Carpathian region of Ukraine
32,1515,Talysh,"Azerbaijan, Iran (Islamic Republic of)","AZE, IRN",Vulnerable,1000000.0,the northern regions of Gilan and Ardabil prov...
...,...,...,...,...,...,...,...
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,The Beni Snous region in the Wilaya (privince ...
2693,1059,Tat,Azerbaijan,AZE,Severely endangered,NaN,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2694,1495,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,Iranian Azerbaijan
2695,2012,Tatuyo,Colombia,COL,Definitely endangered,NaN,NaN
2696,457,Tazy,Russian Federation,RUS,Severely endangered,NaN,the village of Mikhaylovka [Михайловка] in Ol’...
2697,2458,Tempuan,Cambodia,KHM,Severely endangered,NaN,NaN
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,NaN
2699,447,Tolcha,India,IND,Extinct,NaN,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,2009,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,NaN
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,NaN
2703,2391,Tuscarora (Canada),Canada,CAN,Critically endangered,NaN,Spread over 2 communities in Canada
2704,2013,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,NaN
2705,2192,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,since the 1920s the village of Okt’omber (form...
2706,280,Unami,United States of America,USA,Extinct,NaN,NaN
2707,2392,Upper Tanana (Canada),Canada,CAN,Critically endangered,NaN,Spread over 1 communities in Canada
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,"originally the south of the Crimea, now a few ..."
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,NaN
2710,2014,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,NaN
2711,2393,Western Abenaki (Canada),Canada,CAN,Critically endangered,NaN,Spread over 2 communities in Canada
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,NaN
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,islands of the Yaeyama region
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,the Yaz’va Valley in Krasnovishera County in n...
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,earlier spoken in large areas mainly in Easter...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,Capital area of Muscat

In [19]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [20]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.drop(['Cochice', 'Pima'])

            name  reports  year
Santa Cruz  Tina       31  2013
Maricopa    Jake        2  2014
Yuma         Amy        3  2014

# Subsetting and Indexing

In [75]:
data[6:] #selecting all entries from index 2 onwards

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,40.4846,"Tunceli, Erzincan, Elazığ and Bingöl provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,8.0859,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,22.1374,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,55.9863,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,47.2412,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,85.6858,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,21.7968,"Spiš, Šariš, Zemplín and Abov regions in easte..."
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,44.5748,8.7011,"Liguria and adjacent areas of Piedmont, Emilia..."
31,407,Rusyn,"Hungary, Poland, Romania, Slovakia, Ukraine","HUN, POL, ROU, SVK, UKR",Vulnerable,1000000.0,48.4437,22.9394,Trans-Carpathian region of Ukraine
32,1515,Talysh,"Azerbaijan, Iran (Islamic Republic of)","AZE, IRN",Vulnerable,1000000.0,38.8140,48.6804,the northern regions of Gilan and Ardabil prov...
33,1577,Kui,India,IND,Vulnerable,916222.0,19.5908,83.9575,"Orissa (Phulbani, Koraput, Ganjam); also in An..."
34,1231,Khasi,India,IND,Vulnerable,912000.0,25.6910,91.8676,eastern half of Meghalaya
35,1229,Bodo,India,IND,Vulnerable,900000.0,26.7554,92.8674,"north bank of the Brahmaputra, Sonitpur and Da..."
...,...,...,...,...,...,...,...,...,...
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,-1.5614,The Beni Snous region in the Wilaya (privince ...
2693,1059,Tat,Azerbaijan,AZE,Severely endangered,NaN,41.3438,48.6254,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2694,1495,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,38.2036,48.2519,Iranian Azerbaijan
2695,2012,Tatuyo,Colombia,COL,Definitely endangered,NaN,0.4174,-70.4882,NaN
2696,457,Tazy,Russian Federation,RUS,Severely endangered,NaN,43.9236,134.7967,the village of Mikhaylovka [Михайловка] in Ol’...
2697,2458,Tempuan,Cambodia,KHM,Severely endangered,NaN,13.7238,107.2038,NaN
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,-58.0064,NaN
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,6.0671,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,2009,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,0.6921,-69.8291,NaN
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,34.8019,NaN
2703,2391,Tuscarora (Canada),Canada,CAN,Critically endangered,NaN,43.0720,-80.0150,Spread over 2 communities in Canada
2704,2013,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,0.3515,-70.2026,NaN
2705,2192,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,41.8905,45.9130,since the 1920s the village of Okt’omber (form...
2706,280,Unami,United States of America,USA,Extinct,NaN,39.1300,-76.0253,NaN
2707,2392,Upper Tanana (Canada),Canada,CAN,Critically endangered,NaN,62.3824,-140.8984,Spread over 1 communities in Canada
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,36.7822,"originally the south of the Crimea, now a few ..."
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,99.6519,NaN
2710,2014,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,1.0106,-69.6423,NaN
2711,2393,Western Abenaki (Canada),Canada,CAN,Critically endangered,NaN,46.0785,-72.8141,Spread over 2 communities in Canada
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,-72.2460,NaN
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,-63.4130,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,124.1537,islands of the Yaeyama region
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,57.5360,the Yaz’va Valley in Krasnovishera County in n...
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,25.2465,earlier spoken in large areas mainly in Easter...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [76]:
data[::2] #select entries at even index locations

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,44.5748,8.7011,"Liguria and adjacent areas of Piedmont, Emilia..."
32,1515,Talysh,"Azerbaijan, Iran (Islamic Republic of)","AZE, IRN",Vulnerable,1000000.0,38.8140,48.6804,the northern regions of Gilan and Ardabil prov...
34,1231,Khasi,India,IND,Vulnerable,912000.0,25.6910,91.8676,eastern half of Meghalaya
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia
38,989,Quechua of Ayacucho,Peru,PER,Definitely endangered,850000.0,-13.1276,-74.2071,"Departamentos de Ayacucho, Huancavelica y part..."
40,2222,Mon,"Myanmar, Thailand","MMR, THA",Vulnerable,800000.0,16.4666,97.7833,NaN
42,701,Tamaceq,Mali,MLI,Definitely endangered,800000.0,16.7992,-3.0102,"Central, and northeast Mali, Kidal, Tombouctou..."
44,1211,Mundari,India,IND,Vulnerable,750000.0,22.3297,86.0449,"Jharkhand, mainly in Ranchi Dt.; some speaker..."
46,1202,Angika,"India, Nepal","IND, NPL",Vulnerable,740892.0,24.7451,85.3124,Bihar and Jharkhand
48,398,Picard,"Belgium, France","BEL, FRA",Severely endangered,700000.0,50.2331,2.7905,the regions of Picardy (Picardie) and Nord-Pas...
50,415,Basque,"Spain, France","ESP, FRA",Vulnerable,660000.0,43.1330,-2.0764,Basque Autonomous Region (the provinces of Biz...
52,1559,Mandeali,India,IND,Definitely endangered,611930.0,31.4099,76.9921,Himachal Pradesh
54,997,Quechua of Ancash and Huánuco,Peru,PER,Definitely endangered,600000.0,-9.4598,-77.1789,"Zona central del Perú, departamentos de Ancas..."
56,1091,Mising,India,IND,Definitely endangered,550000.0,26.9612,94.0539,"Assam, mostly Lakhimpur, Sonitpur and Dhemaji ..."
58,1230,Mizo,India,IND,Vulnerable,529000.0,22.9988,92.9223,"throughout Mizoram; Manipur, Churachandpur Dt...."
...,...,...,...,...,...,...,...,...,...
2662,2718,Purik,"India, Pakistan","IND, PAK",Vulnerable,NaN,34.3706,76.0144,NaN
2664,2092,Rama Cay Creole,Nicaragua,NIC,Definitely endangered,NaN,11.8834,-83.8000,Rama Cay
2666,1478,Rhenish Franconian,"Germany, France","DEU, FRA",Vulnerable,NaN,49.4467,8.2067,"most parts of Rhineland-Palatinate and Hesse, ..."
2668,2398,Rigolet Inuktitut,Canada,CAN,Critically endangered,NaN,54.1772,-58.4218,NaN
2670,2457,Samrai,Cambodia,KHM,Critically endangered,NaN,12.5063,102.8344,NaN
2672,2053,Sanapaná,Paraguay,PRY,Definitely endangered,NaN,-22.0000,-59.0000,NaN
2674,2378,Seneca (Canada),Canada,CAN,Critically endangered,NaN,43.0555,-80.1938,Spread over 2 communities in Canada
2676,1994,Sikïiyana,Suriname,SUR,Critically endangered,NaN,1.9991,-56.2719,NaN
2678,2462,So-ng,Cambodia,KHM,Critically endangered,NaN,11.7244,104.0447,NaN
2680,672,South Jutish,"Germany, Denmark","DEU, DNK",Definitely endangered,NaN,54.8497,9.3081,Schleswig on both sides of Danish-German border
2682,2715,Spiti,"India, Pakistan","IND, PAK",Vulnerable,NaN,32.2871,78.2652,NaN
2684,2461,Stieng,Cambodia,KHM,Severely endangered,NaN,12.1288,106.7852,NaN
2686,2386,Tagish,Canada,CAN,Critically endangered,NaN,60.1601,-134.6842,Spread over 1 communities in Canada
2688,2011,Tanimuca-Letuama,Colombia,COL,Severely endangered,NaN,-0.6262,-70.5432,NaN
2690,2017,Tariana (Colombia),Colombia,COL,Critically endangered,NaN,0.8349,-69.1918,NaN
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,-1.5614,The Beni Snous region in the Wilaya (privince ...
2694,1495,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,38.2036,48.2519,Iranian Azerbaijan
2696,457,Tazy,Russian Federation,RUS,Severely endangered,NaN,43.9236,134.7967,the village of Mikhaylovka [Михайловка] in Ol’...
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,-58.0064,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,6.0671,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,34.8019,NaN
2704,2013,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,0.3515,-70.2026,NaN
2706,280,Unami,United States of America,USA,Extinct,NaN,39.1300,-76.0253,NaN
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,36.7822,"originally the south of the Crimea, now a few ..."
2710,2014,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,1.0106,-69.6423,NaN
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,-72.2460,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,124.1537,islands of the Yaeyama region
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,25.2465,earlier spoken in large areas mainly in Easter...
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN

In [77]:
data.iloc[0:8,0:7] #specify the ranges of rows and columns

#positional indexing
## iloc[row slicing, column slicing]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804

In [78]:
# select all columns for rows of index values 0 and 10
data.loc[[0, 10], :]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."

In [79]:
#isolate rowsa and columns
data[['Countries','Name in English']][4:8]

                                           Countries   Name in English
4                                 Italy, Switzerland           Lombard
5  Albania, Germany, Austria, Belarus, Bosnia and...            Romani
6                                             Israel  Yiddish (Israel)
7                                              India             Gondi

In [40]:
#subset data on the basis of row labels
data.head(4)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...

In [80]:
data[data.Countries == "Italy"] #isolate by row names

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia
53,353,Friulian,Italy,ITA,Definitely endangered,600000.0,46.1037,13.1396,the Autonomous Region Friuli-Venezia Giulia ex...
80,381,Logudorese,Italy,ITA,Definitely endangered,400000.0,40.1116,9.1845,central Sardinia
157,408,Sassarese,Italy,ITA,Definitely endangered,120000.0,40.6139,8.6132,northwestern Sardinia; an outlying dialect of ...
170,356,Gallurese,Italy,ITA,Definitely endangered,100000.0,40.8802,9.4482,northeastern Sardinia; an outlying dialect of ...
197,1347,Arbëresh,Italy,ITA,Definitely endangered,80000.0,40.9321,14.8645,"(i) Adriatic zone: Montecilfone, Campomarino, ..."
212,1330,Gallo-Sicilian,Italy,ITA,Definitely endangered,65000.0,38.0167,14.5994,"Nicosia, Sperlinga, Piazza Armerina, Valguarne..."
320,565,Ladin,Italy,ITA,Definitely endangered,30000.0,46.5531,11.8597,"several towns and villages in the Dolomites, i..."
391,1614,Griko (Salento),Italy,ITA,Severely endangered,20000.0,40.1578,18.2208,the Salento peninsula in Lecce Province in sou...
510,1343,Algherese Catalan,Italy,ITA,Definitely endangered,10000.0,40.5638,8.3276,the town of Alghero in northwestern Sardinia; ...
729,1349,Molise Croatian,Italy,ITA,Severely endangered,5000.0,41.8787,14.7065,"the villages of Montemitro (Mundimitar), San F..."
964,1339,Griko (Calabria),Italy,ITA,Severely endangered,2000.0,37.9961,15.9329,a few villages near Reggio di Calabria in sout...
1198,1511,Mòcheno,Italy,ITA,Definitely endangered,1000.0,46.1194,11.3258,"Palù (Palai), Fierozzo (Florutz) and Frassilon..."
1205,1348,Resian,Italy,ITA,Definitely endangered,1000.0,46.3734,13.3058,Resia in the northeastern part of Udine Provin...
1315,351,Faetar,Italy,ITA,Definitely endangered,600.0,41.3265,15.1721,Faeto and Celle San Vito in Foggia Province in...
1455,1345,Cimbrian,Italy,ITA,Definitely endangered,400.0,45.8670,11.4268,vigorously spoken in Luserna (Lusern) in Trent...
1506,357,Gardiol,Italy,ITA,Severely endangered,340.0,39.4658,15.9933,Guardia Piedmontese in Calabria; an outlying d...
1663,1344,Töitschu,Italy,ITA,Severely endangered,200.0,45.6913,7.8682,the village of Issime (Eischeme) in the upper ...

In [65]:
x=data.loc[data['Countries'].isin(['Italy','Germany'])] #isolate by two row labels

In [81]:
x.head(15)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia
53,353,Friulian,Italy,ITA,Definitely endangered,600000.0,46.1037,13.1396,the Autonomous Region Friuli-Venezia Giulia ex...
80,381,Logudorese,Italy,ITA,Definitely endangered,400000.0,40.1116,9.1845,central Sardinia
157,408,Sassarese,Italy,ITA,Definitely endangered,120000.0,40.6139,8.6132,northwestern Sardinia; an outlying dialect of ...
170,356,Gallurese,Italy,ITA,Definitely endangered,100000.0,40.8802,9.4482,northeastern Sardinia; an outlying dialect of ...
197,1347,Arbëresh,Italy,ITA,Definitely endangered,80000.0,40.9321,14.8645,"(i) Adriatic zone: Montecilfone, Campomarino, ..."
212,1330,Gallo-Sicilian,Italy,ITA,Definitely endangered,65000.0,38.0167,14.5994,"Nicosia, Sperlinga, Piazza Armerina, Valguarne..."
320,565,Ladin,Italy,ITA,Definitely endangered,30000.0,46.5531,11.8597,"several towns and villages in the Dolomites, i..."
391,1614,Griko (Salento),Italy,ITA,Severely endangered,20000.0,40.1578,18.2208,the Salento peninsula in Lecce Province in sou...
406,384,Sorbian,Germany,DEU,Definitely endangered,19500.0,51.5001,14.4744,Lusatia (Lausitz [Łužica or Łužyca]) region ar...
510,1343,Algherese Catalan,Italy,ITA,Definitely endangered,10000.0,40.5638,8.3276,the town of Alghero in northwestern Sardinia; ...
534,394,North Frisian,Germany,DEU,Severely endangered,10000.0,54.7341,8.7478,western coast of Schleswig north of Husum incl...

In [82]:
data[(data.Countries == "India") & (data.Degree of endangerment=="Vulnerable")]

SyntaxError: invalid syntax (<ipython-input-82-a9c13871074b>, line 1)

In [83]:
df=data[:] #make a copy of the data frame stored in data

In [54]:
df.rename(columns={'Number of speakers':'Number'}, inplace=True) #replace "Number of Speakers" with "Number"

In [55]:
df.head(5)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [56]:
df[(df.Countries == "India") & (df.Number<100)]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number,Latitude,Longitude,Description of the location
1912,2455,Onge,India,IND,Critically endangered,50.0,10.6390,92.4938,NaN
1922,1363,Sentilese,India,IND,Critically endangered,50.0,11.5446,92.2576,"Andaman Islands, North Sentinel Island"
1957,1364,Jarawa,India,IND,Critically endangered,31.0,12.6028,92.7520,South Andaman Island
2172,2722,Great andamanese,India,IND,Critically endangered,5.0,12.2326,92.9031,Middle and North Adaman
2284,429,Ahom,India,IND,Extinct,0.0,26.5393,92.5378,NaN
2291,513,Andro,India,IND,Extinct,0.0,24.8415,94.0539,NaN
2323,519,Chairel,India,IND,Extinct,0.0,24.9760,94.2407,NaN
2477,443,Rangkas,India,IND,Extinct,0.0,30.0358,80.1342,NaN
2481,558,Sengmai,India,IND,Extinct,0.0,24.6445,94.0567,NaN

# Basic Grouping

In [2]:
import pandas as pd

In [21]:
# Load the data into a DataFrame
data = pd.read_csv('endangeredLang.csv')
 
data.head(n=6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."

In [22]:
type(data)

pandas.core.frame.DataFrame

In [22]:
large=data.sort_values(by='Number of speakers', ascending=False)#sort in descending order
large.head(n=10)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."

In [4]:
#sort in descending order
small=data.sort_values(by='Number of speakers', ascending=True)#sort in ascending order
small.head(n=10)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
2538,130,ǁXegwi,South Africa,ZAF,Extinct,0.0,-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal."
2374,477,Kamas,Russian Federation,RUS,Extinct,0.0,57.9964,92.8784,formerly spoken in the eastern part of the Min...
2373,696,Judeo-Berber (Morocco),Morocco,MAR,Extinct,0.0,30.8220,-6.8005,Several areas in the Higher and the Middle Atl...
2372,1925,Jorá,Bolivia (Plurinational State of),BOL,Critically endangered,0.0,-14.0246,-63.3581,NaN
2371,857,Island Chumash,United States of America,USA,Extinct,0.0,34.3821,-119.4574,NaN
2370,298,Island Carib,Dominica,DMA,Extinct,0.0,15.4325,-61.2817,Carib Indian reservation on the eastern coast ...
2369,854,Ineseño,United States of America,USA,Extinct,0.0,34.5942,-120.1371,NaN
2368,2642,Ifo,Vanuatu,VUT,Extinct,0.0,-18.6605,169.1434,Northeastern Erromanga Island
2367,1537,Huron-Wyandot (United States of America),United States of America,USA,Extinct,0.0,36.7923,-94.7229,Huron and Wyandotte is the same language. The ...
2366,2592,Hukumina,Indonesia,IDN,Extinct,0.0,-3.1514,126.2713,"Buru Island, Maluku"

In [30]:
byStatus = data.groupby('Degree of endangerment') 
byStatus.head(n=10)

#byStatus.describe()
#df1.groupby( [ "Name", "City"] ).count()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
30,377,Ligurian,"France, Italy, Monaco","FRA, ITA, MCO",Definitely endangered,1000000.0,44.5748,8.7011,"Liguria and adjacent areas of Piedmont, Emilia..."
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia
38,989,Quechua of Ayacucho,Peru,PER,Definitely endangered,850000.0,-13.1276,-74.2071,"Departamentos de Ayacucho, Huancavelica y part..."
39,1117,Newar,Nepal,NPL,Definitely endangered,825458.0,27.6981,85.3198,Kathmandu valley
48,398,Picard,"Belgium, France","BEL, FRA",Severely endangered,700000.0,50.2331,2.7905,the regions of Picardy (Picardie) and Nord-Pas...
62,375,Languedocian,France,FRA,Severely endangered,500000.0,43.8899,2.5378,an area from Bordeaux in the northwest to Mont...
77,2165,Judezmo (Israel),Israel,ISR,Severely endangered,400000.0,32.0872,34.7737,resettled communities in Israel where the majo...
79,378,Limousin,France,FRA,Severely endangered,400000.0,46.0579,1.8017,"the departments of Corréze and Haute-Vienne, m..."
104,336,Breton,France,FRA,Severely endangered,250000.0,48.2246,-3.9331,western Brittany; many émigré communities
111,1970,Nafusi,Libyan Arab Jamahiriya,LBY,Severely endangered,240000.0,32.6393,13.4252,Language spoken in the regions of Tripolitania...
118,355,Gallo,France,FRA,Severely endangered,200000.0,47.9310,-2.0544,"Ille-et-Vilaine, Loire-Atlantique, dans les de..."
142,404,Provençal,France,FRA,Severely endangered,150000.0,43.5485,6.1083,the departments of Alpes-Maritimes (except the...
160,916,Sierra Totonac,Mexico,MEX,Severely endangered,118367.0,20.2461,-97.6586,"Ahuacatlán, Amixtlán, Atlequizayán, Camocuautl..."
167,342,Crimean Tatar (Crimea),Ukraine,UKR,Severely endangered,100000.0,45.3212,34.3212,originally spoken in the central parts of the ...
232,1587,Parji,India,IND,Critically endangered,51216.0,18.5629,82.8039,Madhya Pradesh
250,2180,Zenatiya,Algeria,DZA,Critically endangered,50000.0,35.5702,1.8099,The Ouarsenis region including the the Tissems...
307,1490,Mayo,Mexico,MEX,Critically endangered,32869.0,26.9114,-109.6271,"Municipalities of Cajeme, Etchojoa, Huatabampo..."
310,1561,Sirmaudi,India,IND,Critically endangered,31144.0,30.9823,77.1569,"Himachal Pradesh, near Shimla and Solan"
332,2181,Tidikelt,Algeria,DZA,Critically endangered,30000.0,26.8828,2.5488,Tidkilet region especially In Salah and severa...
351,1576,Gadaba,India,IND,Critically endangered,26262.0,18.3858,82.7819,"Orissa, Koraput Dt."
420,1583,Koraga,India,IND,Critically endangered,16665.0,11.6952,75.6738,"Karnataka (South), Kerala and Tamil Nadu"
422,1560,Pangvali,India,IND,Critically endangered,16285.0,33.4589,76.9152,Himachal Pradesh
454,441,Yakkha,Nepal,NPL,Critically endangered,14648.0,27.1908,87.3358,Saṅkhuvā Sabhā and Dhankuṭā districts
455,1584,Kuruba,India,IND,Critically endangered,14613.0,11.4369,76.3549,"Tamil Nadu (Coimbatore, Pollachi, Dharmapuri, ..."
485,2618,Tobada',Indonesia,IDN,Extinct,12000.0,-2.0190,119.4708,"On the headwaters of the Budong-Budong River, ..."
1040,2059,Tamazight (Ait Rouadi),Morocco,MAR,Extinct,1637.0,32.5745,-5.9655,Semguet et Guettaya centers of Kasbat Tadla 2...
2221,580,Canichana,Bolivia (Plurinational State of),BOL,Extinct,3.0,-14.5835,-64.9731,"San Pedro, province of Cercado, department of ..."
2269,2112,Lae,Papua New Guinea,PNG,Extinct,1.0,-6.6318,147.1810,Morobe
2277,661,Uru,Bolivia (Plurinational State of),BOL,Extinct,1.0,-16.5519,-68.6645,"Last documented community was Iru-Ito, near An..."
2282,1444,!Gan!ne,South Africa,ZAF,Extinct,0.0,-31.3911,26.6748,NaN
2283,116,Aasax,United Republic of Tanzania,TZA,Extinct,0.0,-5.1948,37.7380,NaN
2284,429,Ahom,India,IND,Extinct,0.0,26.5393,92.5378,NaN
2285,486,Ainu (Kuril),Russian Federation,RUS,Extinct,0.0,46.8882,152.0068,the northern islands of the Kuril chain (espec...
2286,494,Ainu (Sakhalin),Russian Federation,RUS,Extinct,0.0,47.3983,142.2949,"the southern part of Sakhalin (Karafuto), from..."

In [45]:
data.groupby(['Degree of endangerment']).count()

,ID,Name in English,Countries,Country codes alpha 3,Number of speakers,Latitude,Longitude,Description of the location,vfew
Degree of endangerment,,,,,,,,,
Critically endangered,607,607,607,607,544,606,606,395,607
Definitely endangered,680,680,679,679,635,680,680,485,680
Extinct,253,253,253,253,244,252,252,142,253
Severely endangered,554,554,554,554,505,554,554,388,554
Vulnerable,628,628,628,628,611,627,627,460,628

In [27]:
#group on basis of two qualitative columns

bygroup_CnS = data.groupby(['Countries', 'Degree of endangerment'])

bygroup_CnS.head(10)

#bygroup_CnS.describe()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,40.4846,"Tunceli, Erzincan, Elazığ and Bingöl provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,8.0859,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,22.1374,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,55.9863,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,47.2412,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,85.6858,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apurímac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,21.7968,"Spiš, Šariš, Zemplín and Abov regions in easte..."
...,...,...,...,...,...,...,...,...,...
2672,2053,Sanapaná,Paraguay,PRY,Definitely endangered,NaN,-22.0000,-59.0000,NaN
2673,409,Scanian,"Denmark, Sweden","DNK, SWE",Vulnerable,NaN,55.7240,13.6614,"the regions of Scania, Halland and Blekinge, S..."
2676,1994,Sikïiyana,Suriname,SUR,Critically endangered,NaN,1.9991,-56.2719,NaN
2678,2462,So-ng,Cambodia,KHM,Critically endangered,NaN,11.7244,104.0447,NaN
2679,97,Sogoo,Kenya,KEN,Extinct,NaN,-1.0435,36.6006,NaN
2680,672,South Jutish,"Germany, Denmark","DEU, DNK",Definitely endangered,NaN,54.8497,9.3081,Schleswig on both sides of Danish-German border
2682,2715,Spiti,"India, Pakistan","IND, PAK",Vulnerable,NaN,32.2871,78.2652,NaN
2684,2461,Stieng,Cambodia,KHM,Severely endangered,NaN,12.1288,106.7852,NaN
2685,1951,Tacana,Bolivia (Plurinational State of),BOL,Definitely endangered,NaN,-13.2720,-67.7856,NaN
2687,2476,Tailoi,Myanmar,MMR,Critically endangered,NaN,21.4275,100.7473,NaN
2688,2011,Tanimuca-Letuama,Colombia,COL,Severely endangered,NaN,-0.6262,-70.5432,NaN
2689,1960,Tapieté,"Argentina, Bolivia (Plurinational State of), P...","ARG, BOL, PRY",Severely endangered,NaN,-21.7799,-62.6440,NaN
2691,1982,Taruma,Guyana,GUY,Critically endangered,NaN,2.5150,-59.5678,NaN
2692,3,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,-1.5614,The Beni Snous region in the Wilaya (privince ...
2693,1059,Tat,Azerbaijan,AZE,Severely endangered,NaN,41.3438,48.6254,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2697,2458,Tempuan,Cambodia,KHM,Severely endangered,NaN,13.7238,107.2038,NaN
2698,2188,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,-58.0064,NaN
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN
2700,2182,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,6.0671,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,2009,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,0.6921,-69.8291,NaN
2702,2453,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,34.8019,NaN
2705,2192,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,41.8905,45.9130,since the 1920s the village of Okt’omber (form...
2708,1336,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,36.7822,"originally the south of the Crimea, now a few ..."
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,99.6519,NaN
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,-63.4130,NaN
2714,1971,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,124.1537,islands of the Yaeyama region
2716,428,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,25.2465,earlier spoken in large areas mainly in Easter...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [5]:
data.groupby(['Countries','Degree of endangerment']).count()

                                                                           ID  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered    2
                                                   Definitely endangered    5
                                                   Severely endangered      4
                                                   Vulnerable               1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered      1
Albania, Bulgaria, Greece, The former Yugoslav ... Definitely endangered    1
Albania, Bulgaria, The former Yugoslav Republic... Vulnerable               1
Albania, Germany, Austria, Belarus, Bosnia and ... Definitely endangered    1
Algeria                                            Critically endangered    3
                                                   Severely endangered      5
                                                   Vulnerable               4
Angola                                             Definitely endangered    1
                                                   Extinct                  3
Argentina                                          Critically endangered    2
                                                   Definitely endangered    4
                                                   Extinct                  3
                                                   Severely endangered      1
                                                   Vulnerable               1
Argentina, Bolivia (Plurinational State of)        Vulnerable               2
Argentina, Bolivia (Plurinational State of), Chile Extinct                  1
Argentina, Bolivia (Plurinational State of), Pa... Definitely endangered    1
                                                   Severely endangered      1
Argentina, Paraguay                                Severely endangered      1
Argentina, Uruguay                                 Severely endangered      1
Armenia, Georgia, Greece, Russian Federation, T... Definitely endangered    1
Armenia, Iran (Islamic Republic of), Iraq, Syri... Definitely endangered    1
Australia                                          Critically endangered   42
                                                   Definitely endangered   13
                                                   Extinct                  6
                                                   Severely endangered     30
...                                                                        ..
United Kingdom of Great Britain and Northern Ir... Vulnerable               2
United Republic of Tanzania                        Critically endangered    2
                                                   Definitely endangered    2
                                                   Extinct                  2
                                                   Severely endangered      2
                                                   Vulnerable               3
United States of America                           Critically endangered   80
                                                   Definitely endangered   28
                                                   Extinct                 54
                                                   Severely endangered     40
                                                   Vulnerable              14
Uzbekistan                                         Definitely endangered    1
Uzbekistan, Tajikistan, Afghanistan                Definitely endangered    1
                                                   Severely endangered      1
Vanuatu                                            Critically endangered   22
                                                   Definitely endangered   10
                                                   Extinct                  3
                                                   Severely endangered      3
                                                   Vulnerable               9
Venezuela (Bolivarian Republic of)                 Critically endangered    7
                                                   Definitely endangered    1
                                                   Severely endangered      5
                                                   Vulnerable               8
Viet Nam                                           Critically endangered    3
                                                   Definitely endangered   11
                                                   Severely endangered      2
                                                   Vulnerable               4
Western Sahara                                     Critically endangered    1
Yemen                                              Definitely endangered    1
                                                   Severely endangered      1

                                                                           Name in English  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                 2
                                                   Definitely endangered                 5
                                                   Severely endangered                   4
                                                   Vulnerable                            1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                   1
Albania, Bulgaria, Greece, The former Yugoslav ... Definitely endangered                 1
Albania, Bulgaria, The former Yugoslav Republic... Vulnerable                            1
Albania, Germany, Austria, Belarus, Bosnia and ... Definitely endangered                 1
Algeria                                            Critically endangered                 3
                                                   Severely endangered                   5
                                                   Vulnerable                            4
Angola                                             Definitely endangered                 1
                                                   Extinct                               3
Argentina                                          Critically endangered                 2
                                                   Definitely endangered                 4
                                                   Extinct                               3
                                                   Severely endangered                   1
                                                   Vulnerable                            1
Argentina, Bolivia (Plurinational State of)        Vulnerable                            2
Argentina, Bolivia (Plurinational State of), Chile Extinct                               1
Argentina, Bolivia (Plurinational State of), Pa... Definitely endangered                 1
                                                   Severely endangered                   1
Argentina, Paraguay                                Severely endangered                   1
Argentina, Uruguay                                 Severely endangered                   1
Armenia, Georgia, Greece, Russian Federation, T... Definitely endangered                 1
Armenia, Iran (Islamic Republic of), Iraq, Syri... Definitely endangered                 1
Australia                                          Critically endangered                42
                                                   Definitely endangered                13
                                                   Extinct                               6
                                                   Severely endangered                  30
...                                                                                    ...
United Kingdom of Great Britain and Northern Ir... Vulnerable                            2
United Republic of Tanzania                        Critically endangered                 2
                                                   Definitely endangered                 2
                                                   Extinct                               2
                                                   Severely endangered                   2
                                                   Vulnerable                            3
United States of America                           Critically endangered                80
                                                   Definitely endangered                28
                                                   Extinct                              54
                                                   Severely endangered                  40
                                                   Vulnerable                           14
Uzbekistan                                         Definitely endangered                 1
Uzbekistan, Tajikistan, Afghanistan                Definitely endangered                 1
                                                   Severely endangered                   1
Vanuatu                                            Critically endangered                22
                                                   Definitely endangered                10
                                                   Extinct                               3
                                                   Severely endangered                   3
                                                   Vulnerable                            9
Venezuela (Bolivarian Republic of)                 Critically endangered                 7
                                                   Definitely endangered                 1
                                                   Severely endangered                   5
                                                   Vulnerable                            8
Viet Nam                                           Critically endangered                 3
                                                   Definitely endangered                11
                                                   Severely endangered                   2
                                                   Vulnerable                            4
Western Sahara                                     Critically endangered                 1
Yemen                                              Definitely endangered                 1
                                                   Severely endangered                   1

                                                                           Country codes alpha 3  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                       2
                                                   Definitely endangered                       5
                                                   Severely endangered                         4
                                                   Vulnerable                                  1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                         1
Albania, Bulgaria, Greece, The former Yugoslav ... Definitely endangered                       1
Albania, Bulgaria, The former Yugoslav Republic... Vulnerable                                  1
Albania, Germany, Austria, Belarus, Bosnia and ... Definitely endangered                       1
Algeria                                            Critically endangered                       3
                                                   Severely endangered                         5
                                                   Vulnerable                                  4
Angola                                             Definitely endangered                       1
                                                   Extinct                                     3
Argentina                                          Critically endangered                       2
                                                   Definitely endangered                       4
                                                   Extinct                                     3
                                                   Severely endangered                         1
                                                   Vulnerable                                  1
Argentina, Bolivia (Plurinational State of)        Vulnerable                                  2
Argentina, Bolivia (Plurinational State of), Chile Extinct                                     1
Argentina, Bolivia (Plurinational State of), Pa... Definitely endangered                       1
                                                   Severely endangered                         1
Argentina, Paraguay                                Severely endangered                         1
Argentina, Uruguay                                 Severely endangered                         1
Armenia, Georgia, Greece, Russian Federation, T... Definitely endangered                       1
Armenia, Iran (Islamic Republic of), Iraq, Syri... Definitely endangered                       1
Australia                                          Critically endangered                      42
                                                   Definitely endangered                      13
                                                   Extinct                                     6
                                                   Severely endangered                        30
...                                                                                          ...
United Kingdom of Great Britain and Northern Ir... Vulnerable                                  2
United Republic of Tanzania                        Critically endangered                       2
                                                   Definitely endangered                       2
                                                   Extinct                                     2
                                                   Severely endangered                         2
                                                   Vulnerable                                  3
United States of America                           Critically endangered                      80
                                                   Definitely endangered                      28
                                                   Extinct                                    54
                                                   Severely endangered                        40
                                                   Vulnerable                                 14
Uzbekistan                                         Definitely endangered                       1
Uzbekistan, Tajikistan, Afghanistan                Definitely endangered                       1
                                                   Severely endangered                         1
Vanuatu                                            Critically endangered                      22
                                                   Definitely endangered                      10
                                                   Extinct                                     3
                                                   Severely endangered                         3
                                                   Vulnerable                                  9
Venezuela (Bolivarian Republic of)                 Critically endangered                       7
                                                   Definitely endangered                       1
                                                   Severely endangered                         5
                                                   Vulnerable                                  8
Viet Nam                                           Critically endangered                       3
                                                   Definitely endangered                      11
                                                   Severely endangered                         2
                                                   Vulnerable                                  4
Western Sahara                                     Critically endangered                       1
Yemen                                              Definitely endangered                       1
                                                   Severely endangered                         1

                                                                           Number of speakers  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                    2
                                                   Definitely endangered                    5
                                                   Severely endangered                      4
                                                   Vulnerable                               0
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                      0
Albania, Bulgaria, Greece, The former Yugoslav ... Definitely endangered                    1
Albania, Bulgaria, The former Yugoslav Republic... Vulnerable                               1
Albania, Germany, Austria, Belarus, Bosnia and ... Definitely endangered                    1
Algeria                                            Critically endangered                    3
                                                   Severely endangered                      3
                                                   Vulnerable                               4
Angola                                             Definitely endangered                    1
                                                   Extinct                                  3
Argentina                                          Critically endangered                    2
                                                   Definitely endangered                    4
                                                   Extinct                                  3
                                                   Severely endangered                      1
                                                   Vulnerable                               1
Argentina, Bolivia (Plurinational State of)        Vulnerable                               1
Argentina, Bolivia (Plurinational State of), Chile Extinct                                  1
Argentina, Bolivia (Plurinational State of), Pa... Definitely endangered                    1
                                                   Severely endangered                      0
Argentina, Paraguay                                Severely endangered                      1
Argentina, Uruguay                                 Severely endangered                      1
Armenia, Georgia, Greece, Russian Federation, T... Definitely endangered                    1
Armenia, Iran (Islamic Republic of), Iraq, Syri... Definitely endangered                    1
Australia                                          Critically endangered                   41
                                                   Definitely endangered                   13
                                                   Extinct                                  6
                                                   Severely endangered                     30
...                                                                                       ...
United Kingdom of Great Britain and Northern Ir... Vulnerable                               2
United Republic of Tanzania                        Critically endangered                    1

In [24]:
#group number of speakers by group labels (row names) from countries

x = data['Number of speakers'].groupby(data['Countries'])
x.head(n=10)

0       7500000.0
1       5000000.0
2       4800000.0
3       4000000.0
4       3500000.0
5       3500000.0
6       3000000.0
7       2713790.0
8       2600000.0
9       2300000.0
10      2003783.0
11      2000000.0
12      2000000.0
13      2000000.0
14      2000000.0
15      2000000.0
16      1751489.0
17      1750000.0
18      1722768.0
19      1700000.0
20      1500000.0
21      1500000.0
22      1500000.0
23      1379727.0
24      1331844.0
25      1325382.0
26      1250000.0
27      1196639.0
28      1115000.0
29      1000000.0
          ...
2628          NaN
2637          NaN
2640          NaN
2642          NaN
2643          NaN
2645          NaN
2647          NaN
2650          NaN
2651          NaN
2656          NaN
2660          NaN
2662          NaN
2666          NaN
2672          NaN
2673          NaN
2676          NaN
2680          NaN
2682          NaN
2689          NaN
2691          NaN
2693          NaN
2698          NaN
2705          NaN
2708          NaN
2713          NaN
2714          NaN
2716          NaN
2717          NaN
2720          NaN
2721          NaN
Name: Number of speakers, Length: 955, dtype: float64

## Lambda functions

### Identify which of the languages have fewer than 5k speakers

In [7]:
data['vfew'] = data['Number of speakers'].apply(lambda x: x <= 5000)

In [8]:
data.head(n=6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,vfew
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz...",False
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th...",False
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...,False
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...,False
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-...",False

In [9]:
group_by_5k = data.groupby(['vfew'])

In [10]:
group_by_5k.size()

vfew
False     879
True     1843
dtype: int64

In [12]:
group_by_5kC = data.groupby(['vfew','Countries'])

In [13]:
group_by_5kC.size()

vfew   Countries
False  Afghanistan                                                                                                                                                                                                                                                                                                                                                                                      2
       Albania, Algeria, Bosnia and Herzegovina, Bulgaria, Croatia, Greece, The former Yugoslav Republic of Macedonia, Morocco, Romania, Turkey, Serbia                                                                                                                                                                                                                                                 1
       Albania, Bulgaria, Greece, The former Yugoslav Republic of Macedonia, Serbia                                                                                                                                                                                                                                                                                                                     1
       Albania, Bulgaria, The former Yugoslav Republic of Macedonia, Romania, Serbia                                                                                                                                                                                                                                                                                                                    1
       Albania, Germany, Austria, Belarus, Bosnia and Herzegovina, Bulgaria, Croatia, Estonia, Finland, France, Greece, Hungary, Italy, Latvia, Lithuania, The former Yugoslav Republic of Macedonia, Netherlands, Poland, Romania, United Kingdom of Great Britain and Northern Ireland, Russian Federation, Slovakia, Slovenia, Switzerland, Czech Republic, Turkey, Ukraine, Serbia, Montenegro      1
       Algeria                                                                                                                                                                                                                                                                                                                                                                                         10
       Argentina                                                                                                                                                                                                                                                                                                                                                                                        3
       Argentina, Bolivia (Plurinational State of)                                                                                                                                                                                                                                                                                                                                                      2
       Argentina, Bolivia (Plurinational State of), Paraguay                                                                                                                                                                                                                                                                                                                                            1
       Armenia, Georgia, Greece, Russian Federation, Turkey, Ukraine                                                                                                                                                                                                                                                                                                                                    1
       Armenia, Iran (Islamic Republic of), Iraq, Syrian Arab Republic, Turkey                                                                                                                                                                                                                                                                                                                          1
       Australia                                                                                                                                                                                                                                                                                                                                                                                        1
       Austria, Hungary, Slovakia                                                                                                                                                                                                                                                                                                                                                                       1
       Azerbaijan                                                                                                                                                                                                                                                                                                                                                                                       2
       Azerbaijan, Iran (Islamic Republic of)                                                                                                                                                                                                                                                                                                                                                           1
       Azerbaijan, Russian Federation                                                                                                                                                                                                                                                                                                                                                                   3
       Bangladesh                                                                                                                                                                                                                                                                                                                                                                                       2
       Bangladesh, India                                                                                                                                                                                                                                                                                                                                                                                3
       Belarus, Latvia, Lithuania, Poland, Russian Federation, Ukraine                                                                                                                                                                                                                                                                                                                                  1
       Belarus, Poland, Ukraine                                                                                                                                                                                                                                                                                                                                                                         1
       Belgium, France                                                                                                                                                                                                                                                                                                                                                                                  3
       Belgium, France, Luxembourg                                                                                                                                                                                                                                                                                                                                                                      1
       Belgium, France, Netherlands                                                                                                                                                                                                                                                                                                                                                                     1
       Belize                                                                                                                                                                                                                                                                                                                                                                                           3
       Bhutan                                                                                                                                                                                                                                                                                                                                                                                           8
       Bhutan, China, India                                                                                                                                                                                                                                                                                                                                                                             2
       Bhutan, India, Nepal                                                                                                                                                                                                                                                                                                                                                                             1
       Bolivia (Plurinational State of)                                                                                                                                                                                                                                                                                                                                                                 8
       Bolivia (Plurinational State of), Chile, Peru                                                                                                                                                                                                                                                                                                                                                    1
       Botswana                                                                                                                                                                                                                                                                                                                                                                                         1
                                                                                                                                                                                                                                                                                                                                                                                                     ...
True   Philippines                                                                                                                                                                                                                                                                                                                                                                                     15
       Pitcairn  (U.K.)                                                                                                                                                                                                                                                                                                                                                                                 1
       Poland                                                                                                                                                                                                                                                                                                                                                                                           2
       Russian Federation                                                                                                                                                                                                                                                                                                                                                                              67
       Senegal                                                                                                                                                                                                                                                                                                                                                                                          3
       Sierra Leone                                                                                                                                                                                                                                                                                                                                                                                     4
       Solomon Islands                                                                                                                                                                                                                                                                                                                                                                                 18
       South Africa                                                                                                                                                                                                                                                                                                                                                                                    10
       Spain                                                                                                                                                                                                                                                                                                                                                                                            2
       Sri Lanka                                                                                                                                                                                                                                                                                                                                                                                        1
       Sudan                                                                                                                                                                                                                                                                                                                                                                                           34
       Suriname                                                                                                                                                                                                                                                                                                                                                                                         3
       Sweden                                                                                                                                                                                                                                                                                                                                                                                           2
       Syrian Arab Republic                                                                                                                                                                                                                                                                                                                                                                             1
       Tajikistan                                                                                                                                                                                                                                                                                                                                                                                       3
       Tajikistan, Afghanistan                                                                                                                                                                                                                                                                                                                                                                          1
       Thailand                                                                                                                                                                                                                                                                                                                                                                                         8
       Timor-Leste                                                                                                                                                                                                                                                                                                                                                                                      6
       Tokelau                                                                                                                                                                                                                                                                                                                                                                                          1

In [40]:
data['Degree of endangerment'].value_counts()

Definitely endangered    680
Vulnerable               628
Critically endangered    607
Severely endangered      554
Extinct                  253
Name: Degree of endangerment, dtype: int64

# Reshape

In [3]:
data = pd.read_csv('endangeredLang2.csv')
 
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [46]:
dstack=data.stack() #pivot the columns as rows for each ID
#columns become row labels
dstack

0     ID                                                           1022
      EnglishNames                                        South Italian
      Countries                                                   Italy
      CountryCode                                                   ITA
      Endangerment                                           Vulnerable
      No                                                        7.5e+06
      Latitude                                                  40.9798
      Longitude                                                  15.249
1     ID                                                           1023
      EnglishNames                                             Sicilian
      Countries                                                   Italy
      CountryCode                                                   ITA
      Endangerment                                           Vulnerable
      No                                                          5e+06
      Latitude                                                  37.4399
      Longitude                                                 14.5019
2     ID                                                            383
      EnglishNames                                            Low Saxon
      Countries       Germany, Denmark, Netherlands, Poland, Russian...
      CountryCode                               DEU, DNK, NLD, POL, RUS
      Endangerment                                           Vulnerable
      No                                                        4.8e+06
      Latitude                                                  53.4029
      Longitude                                                 10.3601
3     ID                                                            335
      EnglishNames                                           Belarusian
      Countries       Belarus, Latvia, Lithuania, Poland, Russian Fe...
      CountryCode                          BRB, LVA, LTU, POL, RUS, UKR
      Endangerment                                           Vulnerable
      No                                                          4e+06
                                            ...
2717  Latitude                                                   24.458
      Longitude                                                  122.98
2718  ID                                                           2018
      EnglishNames                                               Yucuna
      Countries                                                Colombia
      CountryCode                                                   COL
      Endangerment                                Definitely endangered
      Latitude                                                  -1.2633
      Longitude                                                 -70.664
2719  ID                                                           2015
      EnglishNames                                    Yurutí (Colombia)
      Countries                                                Colombia
      CountryCode                                                   COL
      Endangerment                                Definitely endangered
      Latitude                                                    1.137
      Longitude                                                -70.2136
2720  ID                                                           2716
      EnglishNames                                            Zangskari
      Countries                                         India, Pakistan
      CountryCode                                              IND, PAK
      Endangerment                                Definitely endangered
      Latitude                                                  34.0833
      Longitude                                                   76.85
2721  ID                                                           2177
      EnglishNames                                              Zidgali
      Countries                                                    Oman
      CountryCode                                                   OMN
      Endangerment                                Critically endangered
      Latitude                                                  23.4027
      Longitude                                                 58.0957
Length: 21585, dtype: object

In [47]:
x=dstack.unstack()  #unstack the previous

x.head(4)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7.5e+06,40.9798,15.249
1,1023,Sicilian,Italy,ITA,Vulnerable,5e+06,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4.8e+06,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4e+06,53.956,27.5756

In [ ]:
#melting

In [23]:
patient = pd.DataFrame({'FirstName' : ['Bill', 'Jane'],
                       'LastName' : ['Shakespeare', 'Austen'],
                       'BloodType' : ['o+', 'B+'],
                       'Wt' : [85, 62]})

patient

  BloodType FirstName     LastName  Wt
0        o+      Bill  Shakespeare  85
1        B+      Jane       Austen  62

In [24]:
# Use `melt()
#you have a data that has one or more columns that are identifier variables, 
#while all other columns are considered measured variables
print(pd.melt(patient, id_vars=['FirstName', 'LastName'], var_name='measurements'))

  FirstName     LastName measurements value
0      Bill  Shakespeare    BloodType    o+
1      Jane       Austen    BloodType    B+
2      Bill  Shakespeare           Wt    85
3      Jane       Austen           Wt    62

In [48]:
x=data[0:15]
x.head(3)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601

In [49]:
x=x.drop('ID',axis=1) #drop ID column

In [50]:
x.head(4)

,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756

In [51]:
x.drop(['EnglishNames', 'CountryCode','Latitude','Longitude'], axis=1, inplace=True) #drop multiple coulmns

In [52]:
x.head(4)

                                           Countries Endangerment         No
0                                              Italy   Vulnerable  7500000.0
1                                              Italy   Vulnerable  5000000.0
2  Germany, Denmark, Netherlands, Poland, Russian...   Vulnerable  4800000.0
3  Belarus, Latvia, Lithuania, Poland, Russian Fe...   Vulnerable  4000000.0

In [60]:
melted = pd.melt(x, id_vars=["Countries","Endangerment"], value_name="No")
melted

,Countries,Endangerment,variable,No
0,Italy,Vulnerable,No,7500000.0
1,Italy,Vulnerable,No,5000000.0
2,"Germany, Denmark, Netherlands, Poland, Russian...",Vulnerable,No,4800000.0
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Vulnerable,No,4000000.0
4,"Italy, Switzerland",Definitely endangered,No,3500000.0
5,"Albania, Germany, Austria, Belarus, Bosnia and...",Definitely endangered,No,3500000.0
6,Israel,Definitely endangered,No,3000000.0
7,India,Vulnerable,No,2713790.0
8,"Germany, Belgium, Netherlands",Vulnerable,No,2600000.0
9,Bolivia (Plurinational State of),Vulnerable,No,2300000.0
10,"India, Nepal",Vulnerable,No,2003783.0
11,"Bolivia (Plurinational State of), Chile, Peru",Vulnerable,No,2000000.0
12,"Italy, San Marino",Definitely endangered,No,2000000.0
13,Italy,Definitely endangered,No,2000000.0
14,"Croatia, Italy, Slovenia",Vulnerable,No,2000000.0

In [62]:
melted = pd.melt(x, id_vars=["Countries"],var_name="Endangerment", value_name="No") # “var_name” variables will turn rows into
#columns
melted

,Countries,Endangerment,No
0,Italy,Endangerment,Vulnerable
1,Italy,Endangerment,Vulnerable
2,"Germany, Denmark, Netherlands, Poland, Russian...",Endangerment,Vulnerable
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Endangerment,Vulnerable
4,"Italy, Switzerland",Endangerment,Definitely endangered
5,"Albania, Germany, Austria, Belarus, Bosnia and...",Endangerment,Definitely endangered
6,Israel,Endangerment,Definitely endangered
7,India,Endangerment,Vulnerable
8,"Germany, Belgium, Netherlands",Endangerment,Vulnerable
9,Bolivia (Plurinational State of),Endangerment,Vulnerable
10,"India, Nepal",Endangerment,Vulnerable
11,"Bolivia (Plurinational State of), Chile, Peru",Endangerment,Vulnerable
12,"Italy, San Marino",Endangerment,Definitely endangered
13,Italy,Endangerment,Definitely endangered
14,"Croatia, Italy, Slovenia",Endangerment,Vulnerable
15,Italy,No,7.5e+06
16,Italy,No,5e+06
17,"Germany, Denmark, Netherlands, Poland, Russian...",No,4.8e+06
18,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",No,4e+06
19,"Italy, Switzerland",No,3.5e+06
20,"Albania, Germany, Austria, Belarus, Bosnia and...",No,3.5e+06
21,Israel,No,3e+06
22,India,No,2.71379e+06
23,"Germany, Belgium, Netherlands",No,2.6e+06
24,Bolivia (Plurinational State of),No,2.3e+06
25,"India, Nepal",No,2.00378e+06
26,"Bolivia (Plurinational State of), Chile, Peru",No,2e+06
27,"Italy, San Marino",No,2e+06
28,Italy,No,2e+06
29,"Croatia, Italy, Slovenia",No,2e+06

# Pivoting

## Create a new derived table out of an existing one
## specify an index or indices to pivot on
## Reshape data  based on column values. 
## Uses unique values from index / columns

In [17]:
data = pd.read_csv('GlobalFirePower.csv')
 
data.head(5)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500
4,France,FRA,5,66836154,30000000,23750000,775000,387635,204000,183635,...,29640,464,35000,5360000,138200,2737000,643801,4853,4072,8501

In [18]:

p=pd.pivot_table(data,index=["ISO3"]) #specify a unique index
#ISO3 is a column with all unique values

In [19]:
p.head(5)

,Active Personnel,Aircraft Carriers,Armored Fighting Vehicles,Attack Aircraft,Attack Helicopters,Combat Tanks,Consumption (bbl/dy),Corvettes,Defense Budget,Destroyers,...,Square Land Area (km),Submarines,Total Aircraft Strength,Total Helicopter Strength,Total Military Personnel,Total Naval Assets,Total Population,Towed Artillery,Trainer Aircraft,Transport Aircraft
ISO3,,,,,,,,,,,,,,,,,,,,,
AFG,200000,0,9562,15,6,0,50000,0,11500,0,...,652230,0,205,142,200000,0,33332025,200,0,158
ALB,50000,0,933,0,0,0,40000,0,110,0,...,28748,0,23,23,64000,38,3038594,0,0,23
ALG,520000,0,6754,99,38,2405,350000,13,10570,0,...,2381741,6,502,257,792350,85,40263711,270,68,266
ANG,107000,0,538,78,15,244,133000,0,4150,0,...,1246700,0,285,118,175500,57,20172332,332,48,128
ARG,75000,0,828,64,0,390,760000,9,4330,4,...,2780400,3,248,86,127720,42,43886748,289,59,102

In [21]:
p=pd.pivot_table(data,index=["Country","ISO3"]) #specify tow column indices with unique values to pivot on

In [22]:
p.head(4)

,,Active Personnel,Aircraft Carriers,Armored Fighting Vehicles,Attack Aircraft,Attack Helicopters,Combat Tanks,Consumption (bbl/dy),Corvettes,Defense Budget,Destroyers,...,Square Land Area (km),Submarines,Total Aircraft Strength,Total Helicopter Strength,Total Military Personnel,Total Naval Assets,Total Population,Towed Artillery,Trainer Aircraft,Transport Aircraft
Country,ISO3,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,200000,0,9562,15,6,0,50000,0,11500,0,...,652230,0,205,142,200000,0,33332025,200,0,158
Albania,ALB,50000,0,933,0,0,0,40000,0,110,0,...,28748,0,23,23,64000,38,3038594,0,0,23
Algeria,ALG,520000,0,6754,99,38,2405,350000,13,10570,0,...,2381741,6,502,257,792350,85,40263711,270,68,266
Angola,ANG,107000,0,538,78,15,244,133000,0,4150,0,...,1246700,0,285,118,175500,57,20172332,332,48,128

In [23]:
p=pd.pivot_table(data,index=["Country","ISO3"],values=["Attack Aircraft"]) #include the corrsponding values

In [24]:
p.head(4)

                  Attack Aircraft
Country     ISO3
Afghanistan AFG                15
Albania     ALB                 0
Algeria     ALG                99
Angola      ANG                78

In [35]:
p=pd.pivot_table(data,index=["Country","ISO3","Rank"],values=["Attack Aircraft","Active Personnel"]) #3 indices to pivot on 
#input 2 values

In [36]:
p.tail(8)

                         Active Personnel  Attack Aircraft
Country       ISO3 Rank
United States USA  1              1373650             2785
Uruguay       URU  104              25000               13
Uzbekistan    UZB  48               56500               89
Venezuela     VEN  45              115000               33
Vietnam       VTN  16              448500               73
Yemen         YEM  64               43500               77
Zambia        ZAM  85               15100               18
Zimbabwe      ZIM  81               30000               10

In [ ]:
## Pivoting with column indices that have non-unique values

In [31]:
df = pd.read_csv('endangeredLang2.csv')
 
df.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [43]:
x=pd.pivot_table(df, index=['CountryCode','Endangerment'], aggfunc=np.sum) # sum endangered languages according to country 
#endangered status

In [44]:
x

                                                                             ID  \
CountryCode                                        Endangerment
AFG                                                Critically endangered   2631
                                                   Definitely endangered   7529
                                                   Severely endangered     6320
                                                   Vulnerable              2479
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    331
ALB, BGR, MKD, ROU, SRB                            Vulnerable              1026
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    405
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      374
ANG                                                Definitely endangered    127
                                                   Extinct                  375
ARG                                                Critically endangered   2718
                                                   Definitely endangered   5499
                                                   Extinct                 1902
                                                   Severely endangered     1754
                                                   Vulnerable               646
ARG, BOL                                           Vulnerable              4020
ARG, BOL, CHL                                      Extinct                  573
ARG, BOL, PRY                                      Definitely endangered    588
                                                   Severely endangered     1960
ARG, PRY                                           Severely endangered     1906
ARG, URY                                           Severely endangered     1907
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   1078
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   2232
AUS                                                Critically endangered  25472
                                                   Definitely endangered   8288
                                                   Extinct                 1689
                                                   Severely endangered     8217
                                                   Vulnerable             12792
AUT, HUN, SVK                                      Definitely endangered   1350
AZE                                                Extinct                 1613
...                                                                         ...
UKR                                                Severely endangered     3362
USA                                                Critically endangered  68818
                                                   Definitely endangered  28704
                                                   Extinct                45270
                                                   Severely endangered    39478
                                                   Vulnerable             13943
UZB                                                Definitely endangered   1678
UZB, TJK, AFG                                      Definitely endangered   2486
                                                   Severely endangered     1439
VEN                                                Critically endangered   5863
                                                   Definitely endangered    310
                                                   Severely endangered     2334
                                                   Vulnerable             12468
VNM                                                Critically endangered   3281
                                                   Definitely endangered  19484
                                                   Severely endangered     4427
                                                   Vulnerable              8983
VUT                                                Critically endangered  50076
                                                   Definitely endangered  25925
                                                   Extinct                 7430
                                                   Severely endangered     6953
                                                   Vulnerable             23385
YEM                                                Definitely endangered   2179
                                                   Severely endangered     1949
ZAF                                                Critically endangered   1707
                                                   Extinct                 4864
ZAI                                                Critically endangered    110
                                                   Extinct                  111
                                                   Severely endangered      225
ZAI, SDN                                           Critically endangered     64

                                                                           Latitude  \
CountryCode                                        Endangerment
AFG                                                Critically endangered    68.6708
                                                   Definitely endangered   174.4235
                                                   Severely endangered     140.7859
                                                   Vulnerable               34.6600
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    40.2292
ALB, BGR, MKD, ROU, SRB                            Vulnerable               42.9644
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    46.3165
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      41.2607
ANG                                                Definitely endangered   -10.5526
                                                   Extinct                 -49.1449
ARG                                                Critically endangered   -83.3489
                                                   Definitely endangered  -103.4887
                                                   Extinct                -125.0885
                                                   Severely endangered     -40.0791
                                                   Vulnerable              -25.4035
ARG, BOL                                           Vulnerable              -42.1735
ARG, BOL, CHL                                      Extinct                 -22.7559
ARG, BOL, PRY                                      Definitely endangered   -23.1201
                                                   Severely endangered     -21.7799
ARG, PRY                                           Severely endangered     -24.2870
ARG, URY                                           Severely endangered     -29.6116
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered    40.8470
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered    36.4477
AUS                                                Critically endangered  -874.2096
                                                   Definitely endangered  -227.3509
                                                   Extinct                -105.1566
                                                   Severely endangered    -524.8533
                                                   Vulnerable             -299.0820
AUT, HUN, SVK                                      Definitely endangered    47.8435
AZE                                                Extinct                  38.9455
...                                                                             ...
UKR                                                Severely endangered     183.0775
USA                                                Critically endangered  3569.7742
                                                   Definitely endangered  1077.9799
                                                   Extinct                2164.8588
                                                   Severely endangered    1671.8237
                                                   Vulnerable              539.6379
UZB                                                Definitely endangered    39.8043
UZB, TJK, AFG                                      Definitely endangered    36.9608
                                                   Severely endangered      38.5094
VEN                                                Critically endangered    38.4243
                                                   Definitely endangered     6.7518
                                                   Severely endangered      20.4919
                                                   Vulnerable               43.4109
VNM                                                Critically endangered    65.7161
                                                   Definitely endangered   224.0907
                                                   Severely endangered      45.2333
                                                   Vulnerable               74.9665
VUT                                                Critically endangered  -332.8673
                                                   Definitely endangered  -149.1316
                                                   Extinct                 -50.2777
                                                   Severely endangered     -46.7323
                                                   Vulnerable             -138.7280
YEM                                                Definitely endangered    16.8834
                                                   Severely endangered      12.5331
ZAF                                                Critically endangered   -86.8445
                                                   Extinct                -211.7526
ZAI                                                Critically endangered     4.6092
                                                   Extinct                   2.4931
                                                   Severely endangered       5.8389
ZAI, SDN                                           Critically endangered     4.3902

                                                                          Longitude  \
CountryCode                                        Endangerment
AFG                                                Critically endangered   131.9604
                                                   Definitely endangered   352.4990
                                                   Severely endangered     283.8477
                                                   Vulnerable               70.2000
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    21.1376
ALB, BGR, MKD, ROU, SRB                            Vulnerable               22.1374
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    22.3681
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      28.4985
ANG                                                Definitely endangered    14.9633
                                                   Extinct                  41.3908
ARG                                                Critically endangered  -130.8911
                                                   Definitely endangered  -246.8407
                                                   Extinct                -195.2489
                                                   Severely endangered     -71.0156
                                                   Vulnerable              -58.6669
ARG, BOL                                           Vulnerable             -127.2655
ARG, BOL, CHL                                      Extinct                 -68.2470
ARG, BOL, PRY                                      Definitely endangered   -62.7539
                                                   Severely endangered     -62.6440
ARG, PRY                                           Severely endangered     -60.3808
ARG, URY                                           Severely endangered     -57.4804
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered    40.0149
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered    43.2971
AUS                                                Critically endangered  5691.9650
                                                   Definitely endangered  1760.3483
                                                   Extinct                 817.8769
                                                   Severely endangered    3957.3731
                                                   Vulnerable             2241.1772
AUT, HUN, SVK                                      Definitely endangered    16.5179
AZE                                                Extinct                  46.0989
...                                                                             ...
UKR                                                Severely endangered     140.1400
USA                                                Critically endangered -9453.6384
                                                   Definitely endangered -2911.5248
                                                   Extinct               -6161.0118
                                                   Severely endangered   -4501.6825
                                                   Vulnerable            -1552.7747
UZB                                                Definitely endangered    64.4224
UZB, TJK, AFG                                      Definitely endangered    66.8133
                                                   Severely endangered      68.0932
VEN                                                Critically endangered  -464.0677
                                                   Definitely endangered   -68.2470
                                                   Severely endangered    -331.7429
                                                   Vulnerable             -528.7057
VNM                                                Critically endangered   314.9870
                                                   Definitely endangered  1151.8448
                                                   Severely endangered     207.9999
                                                   Vulnerable              425.9999
VUT                                                Critically endangered  3518.9067
                                                   Definitely endangered  1672.0631
                                                   Extinct                 503.5850
                                                   Severely endangered     502.1939
                                                   Vulnerable             1508.2575
YEM                                                Definitely endangered    43.2655
                                                   Severely endangered      53.7670
ZAF                                                Critically endangered    66.6205
                                                   Extinct                 167.3962
ZAI                                                Critically endangered    27.0812
                                                   Extinct                  28.0590
                                                   Severely endangered      54.3383
ZAI, SDN                                           Critically endangered    29.2016

                                                                                 No
CountryCode                                        Endangerment
AFG                                                Critically endangered      300.0
                                                   Definitely endangered    14000.0
                                                   Severely endangered       4200.0
                                                   Vulnerable                   NaN
ALB, BGR, GRC, MKD, SRB                            Definitely endangered   500000.0
ALB, BGR, MKD, ROU, SRB                            Vulnerable             1500000.0
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered  3500000.0
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered          NaN
ANG                                                Definitely endangered     2627.0
                                                   Extinct                      0.0
ARG                                                Critically endangered        5.0
                                                   Definitely endangered   114000.0
                                                   Extinct                      0.0
                                                   Severely endangered     100000.0
                                                   Vulnerable                3000.0
ARG, BOL                                           Vulnerable               40000.0
ARG, BOL, CHL                                      Extinct                      0.0
ARG, BOL, PRY                                      Definitely endangered     1200.0
                                                   Severely endangered          NaN
ARG, PRY                                           Severely endangered        800.0
ARG, URY                                           Severely endangered       3000.0
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   300000.0
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   240000.0
AUS                                                Critically endangered      422.0
                                                   Definitely endangered     2622.0
                                                   Extinct                      0.0
                                                   Severely endangered       1113.0
                                                   Vulnerable               21384.0
AUT, HUN, SVK                                      Definitely endangered    30000.0
AZE                                                Extinct                      0.0
...                                                                             ...
UKR                                                Severely endangered     120000.0
USA                                                Critically endangered    10218.0
                                                   Definitely endangered    90065.0
                                                   Extinct                      0.0
                                                   Severely endangered      28469.0
                                                   Vulnerable              214675.0
UZB                                                Definitely endangered    10000.0
UZB, TJK, AFG                                      Definitely endangered        NaN
                                                   Severely endangered       7000.0
VEN                                                Critically endangered      435.0
                                                   Definitely endangered     5000.0
                                                   Severely endangered      14300.0
                                                   Vulnerable               27093.0
VNM                                                Critically endangered      325.0
                                                   Definitely endangered   136522.0
                                                   Severely endangered       3941.0
                                                   Vulnerable               19769.0
VUT                                                Critically endangered      179.0
                                                   Definitely endangered     1810.0

In [45]:
x=pd.pivot_table(df, index=['CountryCode','Endangerment'],values=['No'], aggfunc=np.sum) # sum endangered languages according to country 
#endangered status

In [46]:
x

                                                                                 No
CountryCode                                        Endangerment
AFG                                                Critically endangered      300.0
                                                   Definitely endangered    14000.0
                                                   Severely endangered       4200.0
                                                   Vulnerable                   NaN
ALB, BGR, GRC, MKD, SRB                            Definitely endangered   500000.0
ALB, BGR, MKD, ROU, SRB                            Vulnerable             1500000.0
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered  3500000.0
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered          NaN
ANG                                                Definitely endangered     2627.0
                                                   Extinct                      0.0
ARG                                                Critically endangered        5.0
                                                   Definitely endangered   114000.0
                                                   Extinct                      0.0
                                                   Severely endangered     100000.0
                                                   Vulnerable                3000.0
ARG, BOL                                           Vulnerable               40000.0
ARG, BOL, CHL                                      Extinct                      0.0
ARG, BOL, PRY                                      Definitely endangered     1200.0
                                                   Severely endangered          NaN
ARG, PRY                                           Severely endangered        800.0
ARG, URY                                           Severely endangered       3000.0
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   300000.0
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   240000.0
AUS                                                Critically endangered      422.0
                                                   Definitely endangered     2622.0
                                                   Extinct                      0.0
                                                   Severely endangered       1113.0
                                                   Vulnerable               21384.0
AUT, HUN, SVK                                      Definitely endangered    30000.0
AZE                                                Extinct                      0.0
...                                                                             ...
UKR                                                Severely endangered     120000.0
USA                                                Critically endangered    10218.0
                                                   Definitely endangered    90065.0
                                                   Extinct                      0.0
                                                   Severely endangered      28469.0
                                                   Vulnerable              214675.0
UZB                                                Definitely endangered    10000.0
UZB, TJK, AFG                                      Definitely endangered        NaN
                                                   Severely endangered       7000.0
VEN                                                Critically endangered      435.0
                                                   Definitely endangered     5000.0
                                                   Severely endangered      14300.0
                                                   Vulnerable               27093.0
VNM                                                Critically endangered      325.0
                                                   Definitely endangered   136522.0
                                                   Severely endangered       3941.0
                                                   Vulnerable               19769.0
VUT                                                Critically endangered      179.0
                                                   Definitely endangered     1810.0
                                                   Extinct                      0.0
                                                   Severely endangered        155.0
                                                   Vulnerable                2600.0
YEM                                                Definitely endangered    75000.0
                                                   Severely endangered      50000.0
ZAF                                                Critically endangered      101.0
                                                   Extinct                      0.0
ZAI                                                Critically endangered       10.0
                                                   Extinct                      0.0
                                                   Severely endangered       2000.0
ZAI, SDN                                           Critically endangered      494.0

[531 rows x 1 columns]

In [47]:
rankings = pd.read_html('https://en.wikipedia.org/wiki/Rankings_of_universities_in_the_United_Kingdom')
university_guide = rankings[0]

In [49]:
rankings = pd.read_html('https://en.wikipedia.org/wiki/Rankings_of_universities_in_the_United_Kingdom', header=0)
university_guide = rankings[0]
df = pd.DataFrame(university_guide.values.reshape((30, 2)), columns=['Rank', 'University'])
df = df.sort('Rank').reset_index(drop=True)
print df

ValueError: total size of new array must be unchanged

In [50]:
data.head(7)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500
4,France,FRA,5,66836154,30000000,23750000,775000,387635,204000,183635,...,29640,464,35000,5360000,138200,2737000,643801,4853,4072,8501
5,United Kingdom,UKD,6,64430428,30000000,24040000,750000,232675,151175,81500,...,16454,460,45700,8126000,129600,2788000,243610,12429,443,3200
6,Japan,JPN,7,126702133,54000000,44000000,1215000,311875,248575,63300,...,27182,175,43800,3240000,1233000,4932000,377915,29751,0,1770

# Rank & Sorting

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(range(4),index=['d','a','b','c'])

In [3]:
s

d    0
a    1
b    2
c    3
dtype: int64

In [4]:
s.sort_index() #sort index from a to d

a    1
b    2
c    3
d    0
dtype: int64

In [7]:
data = pd.read_csv('GlobalFirePower.csv')
 
data.head(5)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500
4,France,FRA,5,66836154,30000000,23750000,775000,387635,204000,183635,...,29640,464,35000,5360000,138200,2737000,643801,4853,4072,8501

In [56]:
x=data.sort_index(axis=1) #index according to columns. Coulmns will be arranged alphabetically
#default ascending

In [11]:
x.head(4)

,Active Personnel,Aircraft Carriers,Armored Fighting Vehicles,Attack Aircraft,Attack Helicopters,Coastline (km),Combat Tanks,Consumption (bbl/dy),Corvettes,Country,...,Submarines,Total Aircraft Strength,Total Helicopter Strength,Total Military Personnel,Total Naval Assets,Total Population,Towed Artillery,Trainer Aircraft,Transport Aircraft,Waterways (km)
0,1373650,19,41062,2785,947,19924,5884,19000000,0,United States,...,70,13762,6065,2363675,415,323995528,1299,2831,5739,41009
1,798527,1,31298,1438,490,37653,20216,3320000,81,Russia,...,63,3794,1389,3371027,352,142355415,4625,387,1124,102000
2,2260000,1,4788,1385,206,14500,6457,10120000,35,China,...,68,2955,912,3712500,714,1373541278,6246,352,782,110000
3,1362500,3,6704,809,16,7000,4426,3510000,23,India,...,15,2102,666,4207250,295,1266883598,7414,323,857,14500

In [58]:
x=data.sort_index(axis=1,ascending=False) #index according to columns. Coulmns will be arranged Z-A
#descending

In [59]:
x.head(4)

,Waterways (km),Transport Aircraft,Trainer Aircraft,Towed Artillery,Total Population,Total Naval Assets,Total Military Personnel,Total Helicopter Strength,Total Aircraft Strength,Submarines,...,Country,Corvettes,Consumption (bbl/dy),Combat Tanks,Coastline (km),Attack Helicopters,Attack Aircraft,Armored Fighting Vehicles,Aircraft Carriers,Active Personnel
0,41009,5739,2831,1299,323995528,415,2363675,6065,13762,70,...,United States,0,19000000,5884,19924,947,2785,41062,19,1373650
1,102000,1124,387,4625,142355415,352,3371027,1389,3794,63,...,Russia,81,3320000,20216,37653,490,1438,31298,1,798527
2,110000,782,352,6246,1373541278,714,3712500,912,2955,68,...,China,35,10120000,6457,14500,206,1385,4788,1,2260000
3,14500,857,323,7414,1266883598,295,4207250,666,2102,15,...,India,23,3510000,4426,7000,16,809,6704,3,1362500

In [60]:
x=data.sort_values(by="ISO3") #countries alphabetically A-Z (ascending order)

In [61]:
x.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
68,Afghanistan,AFG,69,33332025,14000000,8000000,765000,200000,200000,0,...,0,43,11500,1280,66810,64080,652230,Landlocked,5987,1200
89,Albania,ALB,90,3038594,1515000,1300000,62000,64000,50000,14000,...,339,4,110,7797,3213,34210,28748,362,691,41
24,Algeria,ALG,25,40263711,20400000,17250000,675000,792350,520000,272350,...,3973,157,10570,5934,115000,609400,2381741,998,6734,Minimum not met.
50,Angola,ANG,51,20172332,6030000,3040000,310000,175500,107000,68500,...,2764,176,4150,37700,20430,187300,1246700,1600,5369,1300

In [62]:
x=data.sort_values(by="Rank",ascending=False) #sort by descending rank order

In [63]:
x.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
132,Bhutan,BUT,133,750125,175000,104300,4100,7500,7500,0,...,0,2,10,2261,15,6432,38394,Landlocked,1136,Minimum not met.
131,Suriname,SUR,132,585824,131700,77100,3030,2270,2170,100,...,0,55,67,1439,393,8547,163820,386,1907,1200
130,Sierra Leone,SIE,131,6018888,1402400,835830,32848,10750,10750,0,...,0,8,13,1561,2332,10640,71740,402,1093,800
129,Mauritania,MAU,130,3677293,1523335,1061515,72942,20870,15870,5000,...,728,30,39,3585000,1186,16710,1030700,754,5002,Minimum not met.

In [30]:
x=data.sort_values(by=["ISO3","Country"])

In [31]:
x.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
68,Afghanistan,AFG,69,33332025,14000000,8000000,765000,200000,200000,0,...,0,43,11500,1280,66810,64080,652230,Landlocked,5987,1200
89,Albania,ALB,90,3038594,1515000,1300000,62000,64000,50000,14000,...,339,4,110,7797,3213,34210,28748,362,691,41
24,Algeria,ALG,25,40263711,20400000,17250000,675000,792350,520000,272350,...,3973,157,10570,5934,115000,609400,2381741,998,6734,Minimum not met.
50,Angola,ANG,51,20172332,6030000,3040000,310000,175500,107000,68500,...,2764,176,4150,37700,20430,187300,1246700,1600,5369,1300

In [ ]:
##RANK

In [64]:
x=data.rank(axis=1) #Rank data column wise
#ascending

In [33]:
x.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,47.0,46.0,2.0,42.0,40.0,39.0,32.0,31.0,30.0,29.0,...,27.0,23.0,28.0,36.0,26.0,37.0,35.0,44.0,22.0,45.0
1,47.0,46.0,2.0,42.0,40.0,39.0,32.0,35.0,30.0,33.0,...,27.0,16.0,26.0,29.0,28.0,36.0,38.0,45.0,24.0,44.0
2,47.0,46.0,2.0,42.0,40.0,39.0,37.0,32.0,30.0,29.0,...,26.0,12.0,27.0,28.0,31.0,38.0,35.0,45.0,25.0,44.0
3,47.0,46.0,2.0,42.0,41.0,39.0,38.0,36.0,31.0,32.0,...,27.0,16.0,26.0,29.0,28.0,37.0,33.0,45.0,25.0,44.0

In [37]:
data.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500

In [67]:
x=data.iloc[0:8,0:8]

In [68]:
x.head(5)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250
4,France,FRA,5,66836154,30000000,23750000,775000,387635

In [69]:
x['mRank'] = x['Fit-for-Service'].rank(ascending=1)

In [70]:
x.head(6)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,mRank
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,6.0
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,5.0
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,8.0
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,7.0
4,France,FRA,5,66836154,30000000,23750000,775000,387635,1.0
5,United Kingdom,UKD,6,64430428,30000000,24040000,750000,232675,2.0

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html

In [71]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                  columns=['letter', 'number'])

df1

  letter  number
0      a       1
1      b       2

In [73]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [74]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [75]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                    columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [76]:
pd.concat([df1, df3])

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [77]:
pd.concat([df1, df3], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

# Concatenate

In [20]:
import pandas as pd
import numpy as np

In [29]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                  columns=['letter', 'number'])

df1

  letter  number
0      a       1
1      b       2

In [30]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [31]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                    columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [42]:
pd.concat([df1, df2]) #stitch the data together, one on top of the other

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [43]:
pd.concat([df1, df3])

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [44]:
pd.concat([df1, df3], join="inner") #only columns common for both data frames are joined togther

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [2]:
drink = pd.read_csv('starbucks-menu-nutrition-drinks.csv')
 
drink.head(5)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [3]:
food=pd.read_csv("starbucks-food.csv")

food.head(5)

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [27]:
pd.concat([drink, food])

,Calories,Carb. (g),Fat (g),Fiber (g),Protein (g),Calories,Carb. (g),Fat (g),Fiber (g),Protein,Sodium,Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,45,11,0,0,0,10,Cool Lime Starbucks Refreshers™ Beverage
1,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Ombré Pink Drink
2,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Pink Drink
3,NaN,NaN,NaN,NaN,NaN,80,18,0,1,0,10,Strawberry Acai Starbucks Refreshers™ Beverage
4,NaN,NaN,NaN,NaN,NaN,60,14,0,1,0,10,Very Berry Hibiscus Starbucks Refreshers™ Beve...
5,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Violet Drink
6,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Evolution Fresh™ Cold-Pressed Apple Berry Juice
7,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Evolution Fresh™ Defense Up
8,NaN,NaN,NaN,NaN,NaN,110,28,0,0,0,5,Evolution Fresh™ Organic Ginger Limeade
9,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,Iced Coffee
10,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Iced Coffee with Milk
11,NaN,NaN,NaN,NaN,NaN,130,21,2.5,0,5,65,Iced Espresso Classics - Vanilla Latte
12,NaN,NaN,NaN,NaN,NaN,140,23,2.5,0,5,90,Iced Espresso Classics - Caffe Mocha
13,NaN,NaN,NaN,NaN,NaN,130,21,2.5,0,5,65,Iced Espresso Classics - Caramel Macchiato
14,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Starbucks® Caramel Iced Coffee
15,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Starbucks® Iced Coffee + Milk
16,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Starbucks® Low Calorie Iced Coffee + Milk
17,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,Starbucks® Vanilla Iced Coffee
18,NaN,NaN,NaN,NaN,NaN,80,19,0,0,0,10,Shaken Sweet Tea
19,NaN,NaN,NaN,NaN,NaN,60,15,0,0,0,10,Tazo® Bottled Berry Blossom White
20,NaN,NaN,NaN,NaN,NaN,150,38,0,0,0,15,Tazo® Bottled Black Mango
21,NaN,NaN,NaN,NaN,NaN,140,35,0,0,0,10,Tazo® Bottled Black with Lemon
22,NaN,NaN,NaN,NaN,NaN,140,35,0,0,0,15,Tazo® Bottled Brambleberry
23,NaN,NaN,NaN,NaN,NaN,150,37,0,0,0,15,Tazo® Bottled Giant Peach
24,NaN,NaN,NaN,NaN,NaN,70,17,0,0,0,10,Tazo® Bottled Iced Passion
25,NaN,NaN,NaN,NaN,NaN,120,31,0,0,0,10,Tazo® Bottled Lemon Ginger
26,NaN,NaN,NaN,NaN,NaN,140,35,0,0,0,10,Tazo® Bottled Organic Black Lemonade
27,NaN,NaN,NaN,NaN,NaN,60,15,0,0,0,10,Tazo® Bottled Organic Iced Black Tea
28,NaN,NaN,NaN,NaN,NaN,120,31,0,0,0,10,Tazo® Bottled Organic Iced Green Tea
29,NaN,NaN,NaN,NaN,NaN,140,35,0,0,0,10,Tazo® Bottled Plum Pomegranate
...,...,...,...,...,...,...,...,...,...,...,...,...
83,160.0,28.0,2.5,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Classic Whole-Grain Oatmeal
84,490.0,40.0,27.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,Double-Smoked Bacon Cheddar & Egg Sandwich
85,320.0,28.0,17.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Ham & Cheese Croissant
86,220.0,43.0,2.5,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Hearty Blueberry Oatmeal
87,230.0,28.0,6.0,2.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,Reduced-Fat Turkey Bacon & Cage Free Egg White...
88,500.0,41.0,28.0,1.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Sausage Cheddar & Egg Breakfast Sandwich
89,410.0,43.0,18.0,2.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,Seared Steak Egg & Tomatillo Wrap
90,450.0,42.0,23.0,1.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,Slow-Roasted Ham Swiss & Egg Breakfast Sandwich
91,310.0,9.0,22.0,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,Sous Vide Egg Bites: Bacon & Gruyere
92,170.0,13.0,7.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,Sous Vide Egg Bites: Egg White & Red Pepper
93,500.0,35.0,30.0,3.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,Spicy Chorizo Monterey Jack & Egg Breakfast S...
94,290.0,33.0,10.0,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,Spinach Feta & Cage Free Egg White Breakfast Wrap
95,500.0,57.0,19.0,4.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,Ancho Chipotle Chicken Panini
96,420.0,42.0,17.0,9.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,Chicken & Quinoa Protein Bowl with Black Beans...
97,510.0,37.0,27.0,5.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,Chicken Artichoke on Ancient Grain Flatbread
98,470.0,35.0,25.0,3.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,Chicken BLT Salad Sandwich
99,480.0,42.0,27.0,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,Egg Salad Sandwich
100,480.0,57.0,17.0,3.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,Homestyle Chicken & Double-Smoked Bacon
101,480.0,49.0,20.0,3.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,Italian-Style Ham & Spicy Salami
102,650.0,80.0,29.0,21.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,Lentils & Vegetable Protein Bowl with Brown Rice
103,420.0,47.0,18.0,3.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,Roasted Tomato & Mozzarella Panini
104,460.0,31.0,21.0,2.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,Turkey & Havarti Sandwich
105,560.0,55.0,23.0,3.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,Turkey Pesto Panini
106,240.0,39.0,2.5,3.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Berry Trio Yogurt
107,240.0,42.0,2.5,2.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Fresh Blueberries and Honey Greek Yogurt Parfait
108,180.0,12.0,14.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Justin's Chocolate Hazelnut Butter
109,190.0,6.0,18.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,Justin's Classic Almond Butter
110,340.0,38.0,13.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,Lemon Chiffon Yogurt
111,90.0,5.0,8.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Organic Avocado (Spread)
112,90.0,24.0,0.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Seasonal Fruit Blend

In [28]:
pd.concat([drink, food], join="inner") #it will only concatenate the common columns

                                            Unnamed: 0
0             Cool Lime Starbucks Refreshers™ Beverage
1                                     Ombré Pink Drink
2                                           Pink Drink
3       Strawberry Acai Starbucks Refreshers™ Beverage
4    Very Berry Hibiscus Starbucks Refreshers™ Beve...
5                                         Violet Drink
6      Evolution Fresh™ Cold-Pressed Apple Berry Juice
7                          Evolution Fresh™ Defense Up
8              Evolution Fresh™ Organic Ginger Limeade
9                                          Iced Coffee
10                               Iced Coffee with Milk
11              Iced Espresso Classics - Vanilla Latte
12                Iced Espresso Classics - Caffe Mocha
13          Iced Espresso Classics - Caramel Macchiato
14                      Starbucks® Caramel Iced Coffee
15                       Starbucks® Iced Coffee + Milk
16           Starbucks® Low Calorie Iced Coffee + Milk
17                      Starbucks® Vanilla Iced Coffee
18                                    Shaken Sweet Tea
19                   Tazo® Bottled Berry Blossom White
20                           Tazo® Bottled Black Mango
21                      Tazo® Bottled Black with Lemon
22                          Tazo® Bottled Brambleberry
23                           Tazo® Bottled Giant Peach
24                          Tazo® Bottled Iced Passion
25                          Tazo® Bottled Lemon Ginger
26                Tazo® Bottled Organic Black Lemonade
27                Tazo® Bottled Organic Iced Black Tea
28                Tazo® Bottled Organic Iced Green Tea
29                      Tazo® Bottled Plum Pomegranate
..                                                 ...
83                         Classic Whole-Grain Oatmeal
84          Double-Smoked Bacon Cheddar & Egg Sandwich
85                              Ham & Cheese Croissant
86                            Hearty Blueberry Oatmeal
87   Reduced-Fat Turkey Bacon & Cage Free Egg White...
88            Sausage Cheddar & Egg Breakfast Sandwich
89                   Seared Steak Egg & Tomatillo Wrap
90     Slow-Roasted Ham Swiss & Egg Breakfast Sandwich
91                Sous Vide Egg Bites: Bacon & Gruyere
92         Sous Vide Egg Bites: Egg White & Red Pepper
93   Spicy Chorizo  Monterey Jack & Egg Breakfast S...
94   Spinach Feta & Cage Free Egg White Breakfast Wrap
95                      Ancho Chipotle Chicken Panini
96   Chicken & Quinoa Protein Bowl with Black Beans...
97        Chicken Artichoke on Ancient Grain Flatbread
98                          Chicken BLT Salad Sandwich
99                                  Egg Salad Sandwich
100            Homestyle Chicken & Double-Smoked Bacon
101                   Italian-Style Ham & Spicy Salami
102   Lentils & Vegetable Protein Bowl with Brown Rice
103                 Roasted Tomato & Mozzarella Panini
104                          Turkey & Havarti Sandwich
105                                Turkey Pesto Panini
106                                  Berry Trio Yogurt
107   Fresh Blueberries and Honey Greek Yogurt Parfait
108                 Justin's Chocolate Hazelnut Butter
109                     Justin's Classic Almond Butter
110                               Lemon Chiffon Yogurt
111                           Organic Avocado (Spread)
112                               Seasonal Fruit Blend

[290 rows x 1 columns]

In [34]:
food.shape

(113, 6)

In [4]:
food.columns=['Item','Calories','Fat','Carb','Fiber','Protein']

In [46]:
food.head(4)

               Item  Calories   Fat  Carb  Fiber  Protein
0      Chonga Bagel       300   5.0    50      3       12
1      8-Grain Roll       380   6.0    70      7       10
2  Almond Croissant       410  22.0    45      3       10
3     Apple Fritter       460  23.0    56      2        7

In [5]:
drink.columns=['Item','Calories','Fat','Carb','Fiber','Protein','Na']

In [47]:
drink.head(4)

,Item,Calories,Fat,Carb,Fiber,Protein,Na
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10

In [48]:
pd.concat([drink, food], join="inner") #concatenates all common columns

,Item,Calories,Fat,Carb,Fiber,Protein
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0
1,Ombré Pink Drink,-,-,-,-,-
2,Pink Drink,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0
5,Violet Drink,-,-,-,-,-
6,Evolution Fresh™ Cold-Pressed Apple Berry Juice,-,-,-,-,-
7,Evolution Fresh™ Defense Up,-,-,-,-,-
8,Evolution Fresh™ Organic Ginger Limeade,110,0,28,0,0
9,Iced Coffee,0,0,0,0,0
10,Iced Coffee with Milk,-,-,-,-,-
11,Iced Espresso Classics - Vanilla Latte,130,2.5,21,0,5
12,Iced Espresso Classics - Caffe Mocha,140,2.5,23,0,5
13,Iced Espresso Classics - Caramel Macchiato,130,2.5,21,0,5
14,Starbucks® Caramel Iced Coffee,-,-,-,-,-
15,Starbucks® Iced Coffee + Milk,-,-,-,-,-
16,Starbucks® Low Calorie Iced Coffee + Milk,-,-,-,-,-
17,Starbucks® Vanilla Iced Coffee,-,-,-,-,-
18,Shaken Sweet Tea,80,0,19,0,0
19,Tazo® Bottled Berry Blossom White,60,0,15,0,0
20,Tazo® Bottled Black Mango,150,0,38,0,0
21,Tazo® Bottled Black with Lemon,140,0,35,0,0
22,Tazo® Bottled Brambleberry,140,0,35,0,0
23,Tazo® Bottled Giant Peach,150,0,37,0,0
24,Tazo® Bottled Iced Passion,70,0,17,0,0
25,Tazo® Bottled Lemon Ginger,120,0,31,0,0
26,Tazo® Bottled Organic Black Lemonade,140,0,35,0,0
27,Tazo® Bottled Organic Iced Black Tea,60,0,15,0,0
28,Tazo® Bottled Organic Iced Green Tea,120,0,31,0,0
29,Tazo® Bottled Plum Pomegranate,140,0,35,0,0
...,...,...,...,...,...,...
83,Classic Whole-Grain Oatmeal,160,2.5,28,4,5
84,Double-Smoked Bacon Cheddar & Egg Sandwich,490,27,40,1,21
85,Ham & Cheese Croissant,320,17,28,1,14
86,Hearty Blueberry Oatmeal,220,2.5,43,5,5
87,Reduced-Fat Turkey Bacon & Cage Free Egg White...,230,6,28,2,16
88,Sausage Cheddar & Egg Breakfast Sandwich,500,28,41,1,15
89,Seared Steak Egg & Tomatillo Wrap,410,18,43,2,21
90,Slow-Roasted Ham Swiss & Egg Breakfast Sandwich,450,23,42,1,24
91,Sous Vide Egg Bites: Bacon & Gruyere,310,22,9,0,19
92,Sous Vide Egg Bites: Egg White & Red Pepper,170,7,13,1,13
93,Spicy Chorizo Monterey Jack & Egg Breakfast S...,500,30,35,3,26
94,Spinach Feta & Cage Free Egg White Breakfast Wrap,290,10,33,6,19
95,Ancho Chipotle Chicken Panini,500,19,57,4,26
96,Chicken & Quinoa Protein Bowl with Black Beans...,420,17,42,9,27
97,Chicken Artichoke on Ancient Grain Flatbread,510,27,37,5,24
98,Chicken BLT Salad Sandwich,470,25,35,3,21
99,Egg Salad Sandwich,480,27,42,7,16
100,Homestyle Chicken & Double-Smoked Bacon,480,17,57,3,23
101,Italian-Style Ham & Spicy Salami,480,20,49,3,22
102,Lentils & Vegetable Protein Bowl with Brown Rice,650,29,80,21,23
103,Roasted Tomato & Mozzarella Panini,420,18,47,3,11
104,Turkey & Havarti Sandwich,460,21,31,2,29
105,Turkey Pesto Panini,560,23,55,3,34
106,Berry Trio Yogurt,240,2.5,39,3,14
107,Fresh Blueberries and Honey Greek Yogurt Parfait,240,2.5,42,2,14
108,Justin's Chocolate Hazelnut Butter,180,14,12,3,4
109,Justin's Classic Almond Butter,190,18,6,3,7
110,Lemon Chiffon Yogurt,340,13,38,0,18
111,Organic Avocado (Spread),90,8,5,4,1
112,Seasonal Fruit Blend,90,0,24,4,1

In [41]:
pd.concat([drink, food]) #concatenates all columns. The values of Non common columns will contain

,Calories,Carb,Fat,Fiber,Item,Na,Protein
0,45,11,0,0,Cool Lime Starbucks Refreshers™ Beverage,10,0
1,-,-,-,-,Ombré Pink Drink,-,-
2,-,-,-,-,Pink Drink,-,-
3,80,18,0,1,Strawberry Acai Starbucks Refreshers™ Beverage,10,0
4,60,14,0,1,Very Berry Hibiscus Starbucks Refreshers™ Beve...,10,0
5,-,-,-,-,Violet Drink,-,-
6,-,-,-,-,Evolution Fresh™ Cold-Pressed Apple Berry Juice,-,-
7,-,-,-,-,Evolution Fresh™ Defense Up,-,-
8,110,28,0,0,Evolution Fresh™ Organic Ginger Limeade,5,0
9,0,0,0,0,Iced Coffee,0,0
10,-,-,-,-,Iced Coffee with Milk,-,-
11,130,21,2.5,0,Iced Espresso Classics - Vanilla Latte,65,5
12,140,23,2.5,0,Iced Espresso Classics - Caffe Mocha,90,5
13,130,21,2.5,0,Iced Espresso Classics - Caramel Macchiato,65,5
14,-,-,-,-,Starbucks® Caramel Iced Coffee,-,-
15,-,-,-,-,Starbucks® Iced Coffee + Milk,-,-
16,-,-,-,-,Starbucks® Low Calorie Iced Coffee + Milk,-,-
17,-,-,-,-,Starbucks® Vanilla Iced Coffee,-,-
18,80,19,0,0,Shaken Sweet Tea,10,0
19,60,15,0,0,Tazo® Bottled Berry Blossom White,10,0
20,150,38,0,0,Tazo® Bottled Black Mango,15,0
21,140,35,0,0,Tazo® Bottled Black with Lemon,10,0
22,140,35,0,0,Tazo® Bottled Brambleberry,15,0
23,150,37,0,0,Tazo® Bottled Giant Peach,15,0
24,70,17,0,0,Tazo® Bottled Iced Passion,10,0
25,120,31,0,0,Tazo® Bottled Lemon Ginger,10,0
26,140,35,0,0,Tazo® Bottled Organic Black Lemonade,10,0
27,60,15,0,0,Tazo® Bottled Organic Iced Black Tea,10,0
28,120,31,0,0,Tazo® Bottled Organic Iced Green Tea,10,0
29,140,35,0,0,Tazo® Bottled Plum Pomegranate,10,0
...,...,...,...,...,...,...,...
83,160,28,2.5,4,Classic Whole-Grain Oatmeal,NaN,5
84,490,40,27,1,Double-Smoked Bacon Cheddar & Egg Sandwich,NaN,21
85,320,28,17,1,Ham & Cheese Croissant,NaN,14
86,220,43,2.5,5,Hearty Blueberry Oatmeal,NaN,5
87,230,28,6,2,Reduced-Fat Turkey Bacon & Cage Free Egg White...,NaN,16
88,500,41,28,1,Sausage Cheddar & Egg Breakfast Sandwich,NaN,15
89,410,43,18,2,Seared Steak Egg & Tomatillo Wrap,NaN,21
90,450,42,23,1,Slow-Roasted Ham Swiss & Egg Breakfast Sandwich,NaN,24
91,310,9,22,0,Sous Vide Egg Bites: Bacon & Gruyere,NaN,19
92,170,13,7,1,Sous Vide Egg Bites: Egg White & Red Pepper,NaN,13
93,500,35,30,3,Spicy Chorizo Monterey Jack & Egg Breakfast S...,NaN,26
94,290,33,10,6,Spinach Feta & Cage Free Egg White Breakfast Wrap,NaN,19
95,500,57,19,4,Ancho Chipotle Chicken Panini,NaN,26
96,420,42,17,9,Chicken & Quinoa Protein Bowl with Black Beans...,NaN,27
97,510,37,27,5,Chicken Artichoke on Ancient Grain Flatbread,NaN,24
98,470,35,25,3,Chicken BLT Salad Sandwich,NaN,21
99,480,42,27,7,Egg Salad Sandwich,NaN,16
100,480,57,17,3,Homestyle Chicken & Double-Smoked Bacon,NaN,23
101,480,49,20,3,Italian-Style Ham & Spicy Salami,NaN,22
102,650,80,29,21,Lentils & Vegetable Protein Bowl with Brown Rice,NaN,23
103,420,47,18,3,Roasted Tomato & Mozzarella Panini,NaN,11
104,460,31,21,2,Turkey & Havarti Sandwich,NaN,29
105,560,55,23,3,Turkey Pesto Panini,NaN,34
106,240,39,2.5,3,Berry Trio Yogurt,NaN,14
107,240,42,2.5,2,Fresh Blueberries and Honey Greek Yogurt Parfait,NaN,14
108,180,12,14,3,Justin's Chocolate Hazelnut Butter,NaN,4
109,190,6,18,3,Justin's Classic Almond Butter,NaN,7
110,340,38,13,0,Lemon Chiffon Yogurt,NaN,18
111,90,5,8,4,Organic Avocado (Spread),NaN,1
112,90,24,0,4,Seasonal Fruit Blend,NaN,1

In [10]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])
df1

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55

In [11]:
df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])
df2

      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [12]:
df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])
df3

      HPI  Low_tier_HPI  Unemployment
2001   80            50             7
2002   85            52             8
2003   88            50             9
2004   85            53             6

In [14]:
print(pd.merge(df1,df3, on='HPI')) #merge on columns that have common entries

   HPI  Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
0   80         2                50            50             7
1   85         3                55            52             8
2   85         3                55            53             6
3   85         2                55            52             8
4   85         2                55            53             6
5   88         2                65            50             9

In [3]:
import pandas as pd

# Merge

In [4]:
gfp=pd.read_csv("GlobalFirePower.csv")

In [5]:
gfp.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500

In [7]:
gdp=pd.read_csv("countryGDP.csv")

In [18]:
gdp.head(4)

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN

In [19]:
gdp.shape

(201, 4)

In [8]:
x=pd.merge(gdp,gfp, on='Country') # #merge on column that have common entries
# default "inner" value

In [9]:
x.head(6)

,Country,Code,Population,GDP per Capita,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,Afghanistan,AFG,32526562.0,594.323081,AFG,69,33332025,14000000,8000000,765000,...,0,43,11500,1280,66810,64080,652230,Landlocked,5987,1200
1,Albania,ALB,2889167.0,3945.217582,ALB,90,3038594,1515000,1300000,62000,...,339,4,110,7797,3213,34210,28748,362,691,41
2,Algeria,ALG,39666519.0,4206.031232,ALG,25,40263711,20400000,17250000,675000,...,3973,157,10570,5934,115000,609400,2381741,998,6734,Minimum not met.
3,Angola,ANG,25021974.0,4101.472152,ANG,51,20172332,6030000,3040000,310000,...,2764,176,4150,37700,20430,187300,1246700,1600,5369,1300
4,Argentina,ARG,43416755.0,13431.878340,ARG,35,43886748,20000000,17000000,665000,...,36966,1138,4330,155100,32110,879400,2780400,4989,11968,11000
5,Armenia,ARM,3017712.0,3489.127690,ARM,93,3051250,1700000,1400000,45000,...,869,11,225,8365,1512,26560,29743,Landlocked,1570,Minimum not met.

In [ ]:
#merge only a few columns (Manpower avalaible and Railway coverage) with the GDP data frame using the Country column

In [10]:

y = pd.merge(gdp,gfp[['Country', 'Manpower Available', 'Railway Coverage (km)']],
                 on='Country')

In [11]:
y.head(5)

,Country,Code,Population,GDP per Capita,Manpower Available,Railway Coverage (km)
0,Afghanistan,AFG,32526562.0,594.323081,14000000,0
1,Albania,ALB,2889167.0,3945.217582,1515000,339
2,Algeria,ALG,39666519.0,4206.031232,20400000,3973
3,Angola,ANG,25021974.0,4101.472152,6030000,2764
4,Argentina,ARG,43416755.0,13431.878340,20000000,36966

In [ ]:
# Database type merging

In [12]:
#Keep every row in the left dataframe. Where there are missing values of the “on” variable in the right dataframe, add empty
y = pd.merge(gdp,gfp[['Country', 'Manpower Available', 'Railway Coverage (km)']],
                 on='Country',how='left')

In [13]:
y.head(7)

,Country,Code,Population,GDP per Capita,Manpower Available,Railway Coverage (km)
0,Afghanistan,AFG,32526562.0,594.323081,14000000.0,0.0
1,Albania,ALB,2889167.0,3945.217582,1515000.0,339.0
2,Algeria,ALG,39666519.0,4206.031232,20400000.0,3973.0
3,American Samoa*,ASA,55538.0,NaN,NaN,NaN
4,Andorra,AND,70473.0,NaN,NaN,NaN
5,Angola,ANG,25021974.0,4101.472152,6030000.0,2764.0
6,Antigua and Barbuda,ANT,91818.0,13714.731962,NaN,NaN

In [ ]:
#why 126?

In [34]:
gfp['Country'].isin(gdp['Country']).value_counts() #126 values of gdp appear in gfp too

True     126
False      7
Name: Country, dtype: int64

In [14]:
y = pd.merge(gdp,gfp[['Country', 'Manpower Available', 'Railway Coverage (km)']],
                 on='Country',how='right')

# Keep every row in the right dataframe. Where there are missing values of the “on” variable in the left column, add empty

In [15]:
y.tail(7)

,Country,Code,Population,GDP per Capita,Manpower Available,Railway Coverage (km)
126,South Korea,NaN,NaN,NaN,25610000,3381
127,North Korea,NaN,NaN,NaN,13000000,5242
128,Myanmar,NaN,NaN,NaN,30000000,5031
129,Democratic Republic of the Congo,NaN,NaN,NaN,16000000,4007
130,South Sudan,NaN,NaN,NaN,6700000,236
131,Ivory Coast,NaN,NaN,NaN,10300000,660
132,Republic of the Congo,NaN,NaN,NaN,1900000,886

In [16]:
y = pd.merge(gdp,gfp[['Country', 'Manpower Available', 'Railway Coverage (km)']],
                 on='Country',how='outer',indicator=True)
#A full outer join returns all the rows from the left dataframe, 
#all the rows from the right dataframe, and matches up rows where possible, with NaNs elsewhere
#indicator will tell us how the joining was done

In [40]:
y.shape

(208, 7)

In [17]:
y.head(10)

,Country,Code,Population,GDP per Capita,Manpower Available,Railway Coverage (km),_merge
0,Afghanistan,AFG,32526562.0,594.323081,14000000.0,0.0,both
1,Albania,ALB,2889167.0,3945.217582,1515000.0,339.0,both
2,Algeria,ALG,39666519.0,4206.031232,20400000.0,3973.0,both
3,American Samoa*,ASA,55538.0,NaN,NaN,NaN,left_only
4,Andorra,AND,70473.0,NaN,NaN,NaN,left_only
5,Angola,ANG,25021974.0,4101.472152,6030000.0,2764.0,both
6,Antigua and Barbuda,ANT,91818.0,13714.731962,NaN,NaN,left_only
7,Argentina,ARG,43416755.0,13431.878340,20000000.0,36966.0,both
8,Armenia,ARM,3017712.0,3489.127690,1700000.0,869.0,both
9,Aruba*,ARU,103889.0,NaN,NaN,NaN,left_only

# Cross-tab

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('endangeredLang2.csv')
 
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [16]:
x=pd.crosstab(data["CountryCode"],data["Endangerment"],margins=True) #tabulate our data on basis of two coulmns

In [17]:
x.head(4)

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,2,5,0,4,1,12
"ALB, BGR, GRC, MKD, SRB",0,1,0,0,0,1
"ALB, BGR, MKD, ROU, SRB",0,0,0,0,1,1
"ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FRA, GRC, HUN, ITA, LVA, LTU, MKD, NLD, POL, ROU, GBR, RUS, SVK, SVN, CHE, CZE, TUR, UKR, SRB, MNE",0,1,0,0,0,1

In [13]:
def perConvert(var):
    return var/float(var[-1])

In [18]:
x=pd.crosstab(data["CountryCode"],data["Endangerment"],margins=True).apply(perConvert, axis=1)

In [19]:
x.head(3)

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,0.166667,0.416667,0.0,0.333333,0.083333,1.0
"ALB, BGR, GRC, MKD, SRB",0.000000,1.000000,0.0,0.000000,0.000000,1.0
"ALB, BGR, MKD, ROU, SRB",0.000000,0.000000,0.0,0.000000,1.000000,1.0